@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@media screen and (max-width: 2000px){
.salfirstbox{
  margin-top: 100px;
  margin-bottom: 100px;
}
img.contactFaceIcon{
  width: 18px;
}

.main{
  background:  linear-gradient(135deg, #23BDB8 0%, #43E794 100%);
  height: 200px;

}
.contenthead{
transform: translateY(40px);
}
.content{
  transform: translateY(40px);
}
.content h3{
  font-family: 'Poppins', sans-serif;

}
.content p2{
  font-family: 'Poppins', sans-serif;

}
.icons{
  margin-left: -30px;
}
.icons ul li{
  display: inline-block;
  padding: 8px;
}

.contenthead h1{
  font-size: 35px;
    font-weight: 650;
    color:  white;
    font-family: 'Poppins', sans-serif;
}
.message{
  text-align: left;
}
.message h3{
color: #23BDB8;
font-size: 24px;
font-family: 'Poppins', sans-serif;
margin-left: 6px;


}
.questions{
  text-align: left;
}
.questions h3{
  color: #23BDB8;
font-size: 24px;
font-family: 'Poppins', sans-serif;
margin-left: 6px;
}
.labels{
  width: 290px;
}
.chips{
  background-color:#23BDB8 ;
}
#outlined-textarea{

  width: 570px;
}

.main p2{
  color:  white;

}
.salfirstbox .ui.grid{
  transform: translateY(-50px);
}

 .salfirstbox .ui.fluid.card {
      height: 300px;
}
.salfirstbox .messagebox{
  transform: translateX(0px);
}
   

.buttoncontact {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #23BDB8;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
  margin-left: 17px;
}
.buttoncontact span {
  position: relative;
  pointer-events: none;
}
.buttoncontact::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #43E794, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.buttoncontact:hover::before {
  --size: 400px;
}

.salsecond{
  display: none;
}
.expansion{
  font-size: 30px;
color: white;
}}



@media screen and (max-width: 1440px){

  .labels{
    width: 277px;
  }
  #outlined-textarea{
    width: 545px;
  }
}
@media screen and (max-width:1367px) and (min-width:1366px) {
  
  #outlined-textarea{
    width: 250px!important;
  }
}
@media screen and (max-width:1281px) and (min-width:1280px) {
  #outlined-textarea{
    width: 250px!important;
  }
}
@media screen and (max-width: 1025px){
  .salfirstbox{
    margin-top: 150px;
  }
.firstbox .ui.fluid.card{
  height: 260px;
}
.labels{
  width: 370px;
}
#outlined-textarea{
  width: 345px;
}
.expansion{
  font-size: 37px!important;
color: white;
}
}
@media screen and (max-width:821px) and (min-width:820px) {
  .labels{
    width: 300px;
  }
  #outlined-textarea{
    width: 270px;
  }
  }

@media screen and (max-width: 769px){
  .salfirstbox{
    margin-top: 100px;
  }
  .labels{
    width: 250px;
  }
  #outlined-textarea{
    width: 225px;
  }
  .expansion{
    font-size: 40px!important;
  color: white;
  }
}
@media screen and (min-width: 540px) and (max-width: 540px){
  .salfirstbox .ui.fluid.card{
    width: 150px !important;
    margin-left: -15px;
    height: 250px;
  }
  .salfirstbox .content  h3{
    font-size: 14px;
  }
.salfirstbox .content  p2{
  font-size: 10px;
}
.labels{
  width: 200px;
}
#outlined-textarea{
  width: 170px;
}
}

@media screen and (max-width: 426px){
  .salfirstbox{
    display: none!important;
  }
  .salsecond .ui.fluid.card{
    height: 300px;
  }
  .salsecond{
    display: block;
    margin-top: 90px;
    margin-bottom: 100px;
  }
  .message3{
    text-align: left;
  }
   .label{
    width: 338px!important;
  }
  #outlined-textarea{
    width: 310px;
  }
  .buttoncontact {
margin-left: 78px!important;
  }
  .expansion{
    font-size: 30px!important;
  color: white;
  }
  
  }
@media screen and (max-width: 376px){
  .label{
    width: 300px!important;
  }
  #outlined-textarea{
    width: 273px;
  }
  .buttoncontact{
    margin-left: 61px!important;
  }

}

@media screen and (max-width: 321px){
  .label{
    width: 260px!important;
  }
  .salsecond .ui.fluid.card{
    width: 270px;
  }
  #outlined-textarea{
    width: 233px;
  }
  .salsecond .buttoncontact{
    width: 200px;
    margin-left: 0px!important;
  }
}
@media screen and  (max-width: 281px){
  .salsecond .ui.fluid.card   {
    width: 230px;
  }
   .label{
    width: 200px!important;
  }
  #outlined-textarea{
    width: 173px;
  }
  .salsecond .message{
    margin-left: -19px;
  }
  .salsecond .buttoncontact{
    margin-left: 0px!important;
    width: 170px;
  }
  .salsecond .questions{
    margin-left: -27px;
  }
}