.testimonials{
    padding-bottom: 50px;
    margin-top: 50px;
}
h1.testHead{
    color: #4a6f8a;
    font-size: 35px;
    font-weight: 650px;
    margin-bottom: 50px;

}
.card1Feed{
    margin-left: 90px; 
    width: 400px;
    margin-bottom: 50px;
    margin-top: 60px;
    height: 280px;
    border-radius: 10px;
}
.card1Container{ 
    border-top: 1px solid #F5FFFA;
    max-width: 1150px  ;
    height: 400px;
    background-color: #F5FFFA; 
    box-shadow: 0px 10px 20px 2px rgb(110, 163, 133);
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.Feed1Cont{
 margin-top: -50px;
 margin-left: 80px;
 text-align: left;
 color: #4a6f8a; 
}
h3.feed1Head{
    color:#4a6f8a !important;
}
p.feed1Para{
    color:#4a6f8a;
}
p.feed1Subpara{
    color:#4a6f8a;
    text-align: justify;
}
 img.quote{
    width: 40px; 
    margin-top: 30px;
    position: absolute;
    margin-left: 30px;
 }
 .card2Feed{
    margin-left: 90px; 
    width: 400px;
    margin-bottom: 50px;
    margin-top: 60px;
    height: 280px;
    border-radius: 10px;
}
@media only screen and (max-width:1280px){
    .card1Container{
        max-width: 980px  ;
        height: 440px;
    }
    .card1Feed{
        margin-left: 70px; 
        width: 350px; 
        height: 320px; 
    }
    img.quote{
        width: 40px; 
        margin-top: 30px;
        position: absolute;
        margin-left: 20px;
     }
     .card2Feed{
        margin-left: 70px; 
        width: 350px; 
        height: 320px; 
    }
}
 
 @media only screen and (max-width:1024px){
    .testimonials{
        padding-bottom: 50px;
        margin-top: 50px;
    }
    h1.testHead{
        color: #4a6f8a;
        font-size: 35px;
        font-weight: 650px;
        margin-bottom: 50px;
    
    }
    .card1Feed{
        margin-left: 50px; 
        width: 280px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 320px;
        border-radius: 10px;
    }
    .card1Container{ 
        border-top: 1px solid #F5FFFA;
        max-width: 760px  ;
        height: 440px;
        background-color: #F5FFFA; 
        box-shadow: 0px 10px 20px 2px rgb(110, 163, 133);
        margin-bottom: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 150px;
    }
    .Feed1Cont{
     margin-top: -50px;
     margin-left: 80px;
     text-align: left;
     color: #4a6f8a; 
    }
    h3.feed1Head{
        color:#4a6f8a !important;
    }
    p.feed1Para{
        color:#4a6f8a;
    }
    p.feed1Subpara{
        color:#4a6f8a;
        text-align: justify;
    }
     img.quote{
        width: 30px; 
        margin-top: 30px;
        position: absolute;
        margin-left: 30px;
     }
     .card2Feed{
        margin-left: 50px; 
        width: 280px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 320px;
        border-radius: 10px;
    }
 } 
 @media only screen and (max-width:912px){
    .card1Container{
        max-width: 710px  ;
        margin-left: 100px;
        height: 460px;
    }
    .card1Feed{
        margin-left: 55px; 
        width: 240px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 340px;
        border-radius: 10px;
    }
    .card2Feed{
        margin-left: 50px; 
        width: 240px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 340px;
        border-radius: 10px;
    }
    img.quote{
        width: 30px; 
        margin-top: 30px;
        position: absolute;
        margin-left: 35px;
     }
 }
 @media only screen and (max-width:820px){
    .testimonials{
        padding-bottom: 50px;
        margin-top: 50px;
    }
    h1.testHead{
        color: #4a6f8a;
        font-size: 35px;
        font-weight: 650px;
        margin-bottom: 50px;
    
    }
    .card1Feed{
        margin-left: 30px; 
        width: 240px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 340px;
        border-radius: 10px;
    }
    .card1Container{ 
        border-top: 1px solid #F5FFFA;
        max-width: 590px  ;
        height: 460px;
        background-color: #F5FFFA; 
        box-shadow: 0px 10px 20px 2px rgb(110, 163, 133);
        margin-bottom: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 110px;
    }
    .Feed1Cont{
     margin-top: -50px;
     margin-left: 80px;
     text-align: left;
     color: #4a6f8a; 
    }
    h3.feed1Head{
        color:#4a6f8a !important;
    }
    p.feed1Para{
        color:#4a6f8a;
    }
    p.feed1Subpara{
        color:#4a6f8a;
        text-align: justify;
    }
     img.quote{
        width: 30px; 
        margin-top: 30px;
        position: absolute;
        margin-left: 5px;
     }
     .card2Feed{
        margin-left: 20px; 
        width: 240px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 340px;
        border-radius: 10px;
    }
 }
  
 @media only screen and (max-width:768px){
    .testimonials{
        padding-bottom: 50px;
        margin-top: 50px;
    }
    h1.testHead{
        color: #4a6f8a;
        font-size: 35px;
        font-weight: 650px;
        margin-bottom: 50px;
    
    }
    .card1Feed{
        margin-left: 40px; 
        width: 240px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 340px;
        border-radius: 10px;
    }
    .card1Container{ 
        border-top: 1px solid #F5FFFA;
        max-width: 660px  ;
        height: 460px;
        background-color: #F5FFFA; 
        box-shadow: 0px 10px 20px 2px rgb(110, 163, 133);
        margin-bottom: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    .Feed1Cont{
     margin-top: -50px;
     margin-left: 80px;
     text-align: left;
     color: #4a6f8a; 
    }
    h3.feed1Head{
        color:#4a6f8a !important;
    }
    p.feed1Para{
        color:#4a6f8a;
    }
    p.feed1Subpara{
        color:#4a6f8a;
        text-align: justify;
    }
     img.quote{
        width: 30px; 
        margin-top: 30px;
        position: absolute;
        margin-left: 30px;
     }
     .card2Feed{
        margin-left: 50px; 
        width: 240px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 340px;
        border-radius: 10px;
    }
 }
 @media only screen and (min-width:431px){
    .dup{
        display: none;
    }
 }
 @media only screen and (max-width:430px){
    .orig{
        display: none;
    }
    .card2Container{ 
        border-top: 1px solid #F5FFFA;
        max-width: 350px  ;
        height: 460px;
        background-color: #F5FFFA; 
        box-shadow: 0px 10px 20px 2px rgb(110, 163, 133);
        margin-bottom: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
    .card1Feed{
        margin-left: 40px; 
        width: 270px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 340px;
        border-radius: 10px;
    }
 }
 @media only screen and (max-width:415px){
    .card2Container{
        margin-left: 30px;
    }
 }
 @media only screen and (max-width:395px){
    .card2Container{
        margin-left: 20px;
    }
 }
 @media only screen and (max-width:391px){
    .card2Container{
        margin-left: 20px;
    }
 }
 
 @media only screen and (max-width:380px){
     
    .card2Container{ 
        border-top: 1px solid #F5FFFA;
        max-width: 300px  ;
        height: 500px;
        background-color: #F5FFFA; 
        box-shadow: 0px 10px 20px 2px rgb(110, 163, 133);
        margin-bottom: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
    .card1Feed{
        margin-left: 40px; 
        width: 220px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 380px;
        border-radius: 10px;
    }
    .Feed1Cont{ 
        margin-left: 60px;
        text-align: left;
        color: #4a6f8a; 
       }
 }
 @media only screen and (max-width:365px){
    .card2Container{
        margin-left: 30px;
    }
 }
 @media only screen and (max-width:320px){
     
    .card2Container{ 
        border-top: 1px solid #F5FFFA;
        max-width: 240px  ;
        height: 520px;
        background-color: #F5FFFA; 
        box-shadow: 0px 10px 20px 2px rgb(110, 163, 133);
        margin-bottom: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
    .card1Feed{
        margin-left: 20px; 
        width: 200px;
        margin-bottom: 50px;
        margin-top: 60px;
        height: 400px;
        border-radius: 10px;
    }
    .Feed1Cont{ 
        margin-left: 60px;
        text-align: left;
        color: #4a6f8a; 
       }
       img.quote{
        width: 20px; 
        margin-top: 30px;
        position: absolute;
        margin-left: 15px;
     }
 }


 