@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    overflow-x: hidden;
  }
  
  .logincard769{
    display: none
   }
  
  .login{display: block;
    text-align: left;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 120px;
    padding-right: 120px;
    
  }
  .username{
    text-align: left !important;
    font-weight: 500;
    font-size: 1.2rem;
    padding-top: 1px;
    padding-bottom: 2px;
    font-family: 'Poppins', sans-serif !important;
  padding-bottom: 1px;}
   
    /*text field width*/
#input-with-icon-textfield{width: 350px;  }
/*top padding*/
.css-1rv3ei8-MuiFormControl-root-MuiTextField-root {
  margin-top: 0px !important;
  }

  #login2{
    background-color: #F5FFFA; 
    
  
  }

  #cardpadding {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 10px;
    
}
#use{margin-top: 20px;}

#button{background-color:#23BDB8 !important;
  width: 410px !important;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px !important;
  
  background:  #23BDB8;
  font-size: 1.2rem;
  /*border-radius: 100px;*/
  }


  .pop{font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    
}
.loginimg{height: 650px;}

.pop1{font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  text-align: center;
padding-top: 15px;
  
}
.go{
  padding-left: 100px;
}
.face{
  padding-left: 100px;
}

/**********************************************************/
@media screen and (max-width:1025px){

    
  .login{
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    
  }

  .loginimg{height: 500px;}
  #login2{
    background-color: #F5FFFA; 
    height: 500px;
  
  }
  .username{
    text-align: left !important;
    font-weight: 500;
    font-size: 1.2rem;
    padding-top: 1px;
    padding-bottom: 2px;
    font-family: 'Poppins', sans-serif !important;
  padding-bottom: 1px;}
  #input-with-icon-textfield{width: 300px;  }

  #button{background-color:#23BDB8 !important;
    width: 350px !important;
    height: 56px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px !important;
    
    background:  #23BDB8;
    font-size: 1.2rem;
    /*border-radius: 100px;*/
    }


    #cardpadding {
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 60px;
      padding-bottom: 60px;
      
  }
  
}


@media screen and (max-width:769px){
  .login{display: none}
 
  

#logintab769{
  padding-left: 100px;
  padding-right: 100px;
  
}
.logincard769{
 display: block;
}
#loginbody769{
  background-color: #F5FFFA;
}
.logimg76{
  background-color: #F5FFFA;
  
}

.username{
  text-align: left !important;
  font-weight: 500;
  font-size: 1.2rem;
  padding-top: 1px;
  padding-left: 90px;
  padding-bottom: 2px;
  font-family: 'Poppins', sans-serif !important;
padding-bottom: 1px;}


.pop{font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  padding-bottom: 100px;
}
}