.prisliderContent{
  top: -420px; 
  position: relative;  
 
}
h1.prisliderHead{  
color:  #4a6f8a;
  font-size: 35px;
  font-weight: 650px;
margin-left: -160px; 
}
p.prisliderPara{ 
color: white;
  max-width: 420px;
  font-size: 16px !important;
  text-align: left;
  margin-left: 140px; 
  font-weight: 400;
}



button.prisliderButton {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #23BDB8;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
  margin-left: -435px;
}
button.prisliderButton span{
  position: relative;
  pointer-events: none;
}
button.prisliderButton::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #43E794, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
button.prisliderButton:hover::before {
  --size: 400px;
}
button.prisliderButton:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  letter-spacing: 3px;
  }
  @media only screen and (max-width:1920px) and (min-width:1601px){
    h1.prisliderHead{
      margin-left: -425px;
    }
    button.prisliderButton{
      margin-left: -705px;
    }
  }
  @media only screen and (max-width:1600px) and (min-width:1537px){
    h1.prisliderHead{
      margin-left: -240px;
    }
    button.prisliderButton{
      margin-left: -520px;
    }
  }
  @media only screen and (max-width:1536px) and (min-width:1441px){
    h1.prisliderHead{
      margin-left: -160px;
    }
    button.prisliderButton{
      margin-left: -440px;
    }
  }
  @media only screen and (max-width:1440px) and (min-width:1368px){
    h1.prisliderHead{
      margin-left: -150px;
    }
    button.prisliderButton{
      margin-left: -420px;
    }
  }
  @media only screen and (max-width:1367px) and (min-width:1281px){
    h1.prisliderHead{
      margin-left: -100px;
    }
    button.prisliderButton{
      margin-left: -370px;
    }
  }
 @media only screen and (max-width:1280px) and (min-width:1024px){
  h1.prisliderHead{
    margin-left: -50px;
  }
  button.prisliderButton{
    margin-left: -330px;
  }
}


@media only screen and (max-width:1024px){
  h1.prisliderHead{
    margin-left: 100px;
  }
  button.prisliderButton{
    margin-left: -180px;
  }
}
@media only screen and (max-width:912px){
  h1.prisliderHead{
    margin-left: 110px; 
  } 
  p.prisliderPara{ 
    color: white;
      max-width: 420px;
      font-size: 18px;
      text-align: left;
      margin-left: 110px;
  }
}
@media only screen and (max-width:820px){
  h1.prisliderHead{
    margin-left: 20px;
  }
  button.prisliderButton{
    margin-left: -250px;
  }
}
@media only screen and (max-width:768px){
  h1.prisliderHead{   
      font-size: 30px; 
    margin-left: 0px;
  }
  p.prisliderPara{  
      font-size: 16px; 
      margin-left: 110px;
      max-width: 370px;
  }
  button.prisliderButton{
    margin-left: -215px;
  }
}

@media only screen and (max-width:430px){
  /* h1.prisliderHead{    
  padding-top: 400px;
}
p.prisliderPara{  
  font-size: 15px; 
  margin-left: 30px;
  max-width: 370px;
  color: #4a6f8a;
  text-align: center;
}
button.prisliderButton{
margin-left: 0px;
}
.prihomeContent{
background-color:#F5FFFA ;
} */
.prisliderContent{
top:-415px;
}
h1.prisliderHead{    
font-size: 25px; 
margin-left: -28px; 
}
p.prisliderPara{  
font-size: 15px !important; 
margin-left: 50px;
max-width: 280px;   
}
button.prisliderButton{
margin-left: -175px;
margin-top: 20px;  
}
}
@media only screen and (max-width:395px){
  .prisliderContent{
    top:-430px
  }
  h1.prisliderHead{    
    font-size: 25px; 
  margin-left: 5px; 
  }
  p.prisliderPara{    
    margin-left: 50px;
    max-width: 270px;   
  }
  button.prisliderButton{
    margin-left: -145px;
    margin-top: 20px;  
  }
}
@media only screen and (max-width:391px){
  .prisliderContent{
    top:-430px
  }
  h1.prisliderHead{    
    font-size: 25px; 
  margin-left: 5px; 
  }
  p.prisliderPara{    
    margin-left: 50px;
    max-width: 270px;   
  }
  button.prisliderButton{
    margin-left: -145px;
    margin-top: 20px;  
  }
}
@media only screen and (max-width:380px){
  /* h1.prisliderHead{    
  padding-top: 400px;
}
p.prisliderPara{  
  font-size: 15px; 
  margin-left: 30px;
  max-width: 370px;
  color: #4a6f8a;
  text-align: center;
}
button.prisliderButton{
margin-left: 0px;
}
.prihomeContent{
background-color:#F5FFFA ;
} */
.prisliderContent{
top:-480px
}
h1.prisliderHead{    
font-size: 25px; 
margin-left: 0px; 
}
p.prisliderPara{  
font-size: 15px; 
margin-left: 40px;
max-width: 280px;   
}
button.prisliderButton{
margin-left: -140px;
margin-top: 20px;  
}
}
@media only screen and (max-width:365px){
  .prisliderContent{
    top:-480px
  }
  h1.prisliderHead{    
    font-size: 22px; 
  margin-left: 0px; 
  }
  p.prisliderPara{   
    margin-left: 50px;
    max-width: 250px;   
  }
  button.prisliderButton{
    margin-left: -110px;
    margin-top: 20px;  
  }
}
@media only screen and (max-width:320px){
  /* h1.prisliderHead{    
  padding-top: 400px;
}
p.prisliderPara{  
  font-size: 15px; 
  margin-left: 30px;
  max-width: 370px;
  color: #4a6f8a;
  text-align: center;
}
button.prisliderButton{
margin-left: 0px;
}
.prihomeContent{
background-color:#F5FFFA ;
} */
.prisliderContent{
top:-480px
}
h1.prisliderHead{    
font-size: 22px; 
margin-left: 0px; 
}
p.prisliderPara{  
font-size: 14px; 
margin-left: 30px;
max-width: 250px;   
}
button.prisliderButton{
margin-left: -100px;
margin-top: 20px;  
}
}
img.netImage{ 
width: 1470px  ;
margin-top: -250px; 
}
@media only screen and (max-width:1921px) and (min-width:1601px){
  img.netImage{ 
    width: 1920px   ;
    margin-top: -250px; 
    }
}
@media only screen and (max-width:1280px){
img.netImage{
  margin-top: -180px;
  width: 1280px;
}
}
@media only screen and (max-width:1024px){
img.netImage{
  margin-top: -180px;
  width: 1030px;
}
}
@media only screen and (max-width:820px){
img.netImage{
  margin-top: -130px;
  width: 820px;
}
}
@media only screen and (max-width:768px){
img.netImage{
  margin-top: -130px;
  width: 770px;
}
}
@media only screen and (max-width:430px){
img.netImage{
  margin-top: -60px;
  width: 430px;
}
}
@media only screen and (max-width:391px){
img.netImage{
  margin-top: -60px;
  width: 390px;
}
}
@media only screen and (max-width:380px){
img.netImage{
  margin-top: -50px;
  width: 380px;
}
}
@media only screen and (max-width:320px){
img.netImage{
  margin-top: -40px;
  width: 320px;
}
}