@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
   
}
.userpro{
  margin-top: 100px;
}
*{
  margin: 0;
  padding: 0;
}
.box{
  background-color:#F5FFFA  ;
  height:auto;
 width: 100% !important;
}
.alltabs{
 

 text-align: left !important;
 justify-content: left;
}

.tab1{
  align-self: flex-start !important;
  margin-top: 150px !important;
  color:#4A6F8A !important;
  font-size: 14px !important;
  font-weight: 650 !important;
  font-family: 'Poppins', sans-serif !important;
}
.tab2{
 
  align-self: flex-start !important;
  color:#4A6F8A !important;
  font-size: 14px !important;
  text-align: left !important;
  font-weight: 650 !important;
  font-family: 'Poppins', sans-serif !important;

}
.tab3c{


  align-self: flex-start !important;
  color:#4A6F8A !important;
  font-size: 14px !important;
  text-align: left !important;
  font-weight: 650 !important;
  font-family: 'Poppins', sans-serif !important;

}
.tab4c{
  align-self: flex-start !important;
 
  color:#4A6F8A !important;
  font-size: 14px !important;
  text-align: left !important;
  font-weight: 650 !important;
  font-family: 'Poppins', sans-serif !important;
}
.tab5{
margin-left: 20px;
 border: none;
 background-color: white;
  color:#4A6F8A !important;
  font-size: 14px !important;
  text-align: left !important;
  font-weight: 650 !important;
  font-family: 'Poppins', sans-serif !important;
  margin-top: 20px;

}
.tab:hover{
color:aliceblue
}
.required1{
  color:gray;
  
}


.logo{
  margin-top: 50px !important;
  margin-left: 30px;
  color:#23BDB8
}










/****** session style *************/
.sessionhead{
font-size: 30px;
font-weight: 650;
font-family: 'Poppins', sans-serif  !important ;
color:#0e314C;
text-align: left;
margin-left: 460px;
}
.radiosession{
  font-size: 35px;
  font-weight: 650 !important;
  font-family: 'Poppins', sans-serif  !important ;
  color:#0e314C; 
}
.radio{
  padding-top: 30px;
  padding-bottom:30px;
  margin-left: 0px;
}
.sessionhead1{
  font-size: 32px;
  font-weight: 650;
  font-family: 'Poppins', sans-serif  !important ;
  color:#0e314C;
  margin-top: 130px !important;
  width: 400px;
  margin-left: 100px;
  }
  .sessionhead4{
    font-size: 32px;
    font-weight: 650;
    font-family: 'Poppins', sans-serif  !important ;
    color:#0e314C;
    margin-top: 110px !important;
    width: 400px;
    margin-left: 100px;
    }
.sessionbutton {
  margin-top: 10px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #23BDB8;
  padding: 1em 2.7em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
 border-radius: 5px;
 margin-bottom: 30px;
}
.sessionbutton:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  letter-spacing: 3px;
  }
.sessionbuttonlink{
  color:white !important;
}
.MuiTabs-indicator{
  color: #23BDB8;
} 

#tabs{
  height: 100%;
  justify-items: left;
  align-items: left;
  text-align: left;
}
#tabs  .MuiTabs-indicator{
  color:#23BDB8 !important;
}


.sessionwrap{
  background-color:white  ;
  box-shadow: 5px 10px 18px #888888;
  display: flex;
  margin-left: 135px ;
  width:1000px;
  border-radius: 5px;
  margin-top: 0px;
}
.sessioncontent{
margin-left: -50px;
}
.imgsession{
  margin-left: -100px; 
}






/***************session true*********************************/
.navsession{
  background-image: linear-gradient(to right, #23BDB8, #8EE7BA);
 height: 50px;
 margin-top: 30px;
}

.sessionhead3{
  color:white;
  font-size: 20px;
padding-right: 10px;
  padding-top: 8px !important;
  margin-left: 550px !important;
  
 
}
.sessiontable1{
  padding: 20px;
  margin-left: 40px;
}
.tdleft1{
  font-size: 14px;
  font-weight: 650;
  color:#4A6F8A;
  text-align: left;
  align-items: left;
 
}
.tablesessionhead{
  font-size: 20px;
  font-weight: 650;
  color:#0e314C;
  text-align: left;
  align-items: left;
 
}
.tablesessionhead2{
  font-size: 20px;
  font-weight: 650;
  color:#0e314C;
  text-align: left;
  align-items: left;
 margin-left: -60px;
}
.tdleft2{
  font-size: 14px;
  font-weight: 650;
  color:#4A6F8A;
  text-align: left;
  align-items: left;
  margin-left: -53px;
}
.hrsession{border-top: 1px solid gray;}
.sessionwrap1{
  background-color:white  ;
  box-shadow: 5px 10px 18px #888888;


}
.session1{
  margin-top: -40px;
  margin-left: -60px;
  
}
.resessionbutton{
  margin-top: 10px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #23BDB8;
  padding: 1em 1.2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
 border-radius: 5px;
 margin-bottom: 50px;
}
.tdright{
  font-size: 14px;
  font-weight: 650;
  color:#0e314C;
  text-align: left;
  align-items: left;
  margin-left: 100px;
}
.tdleft{
  font-size: 14px;
  font-weight: 650;
  color: #4A6F8A;
  text-align: left;
}
.svg_icons {
  margin-top: 50px;
  transform: scale(3.8);
}
.sessionhead2{
  color: #0e314C;
  margin-top: 40px;
}
.sessiontable{
  margin-left: 210px;
  margin-top: 30px;
}
.table{
  text-align: left;
}



/****** delete account style *************/

.deletecontent{
  margin-top: -10px;
  margin-left: -50px;
}
.labelradio{
  font-family: 'Poppins', sans-serif;
  color:#0E314C;
  font-weight: 650;
}
#radio-head{
  color:#0E314C;
  font-size:16px;
  font-weight: 650;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px !important;
}
.radiocontent{
  margin-left: -25px !important;
}
.delete{
margin-top: 60px ;
}
.deletimage{
  margin-left: -50px;
  height: 200px;
  margin-top: -50px;
}
.deletehead{
  font-weight: 650;
  color:#0E314C;
  font-size: 25px;
  margin-left: 280px;
  width:400px;
  font-family: 'Poppins', sans-serif !important;
}
.delete2head{
  font-weight: 650 !important;
  color:#0E314C;
  font-size: 20px !important;
  margin-left: 280px;
  width:400px;
  font-family: 'Poppins', sans-serif !important;
}
.delete2text{
  font-size: 14px!important;
  color: #0e314c !important;
}

.deletewrap{
  background-color:white  ;
  box-shadow: 5px 10px 18px #888888;
  display: flex;
 margin-top: 100px;
  height: 500px;
  width:1000px;
  margin-left: 130px;
}
.deletebuttons{
  margin-left: 600px;
  display: flex;
}
.deletebutton1 {

  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #23BDB8;
  padding: .7em 3em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;

 
}

.deletebutton2 {

  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #23BDB8;
  padding: .7em 3em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
margin-left: 10px;
 
}
.deletebutton1{
  position: relative;
  
}
.deletebutton {

  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #23BDB8;
  padding: .7em 3em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: -220px !important;
}
.deletebutton{
  position: relative;
  
}






/****** change password style *************/

.password{
  width:400px;
margin-top: 10px !important;

}

.passbutton {
  margin-top: 10px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #23BDB8;
  padding: 1em 10.7em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
 border-radius: 5px;
}
.passbutton span {
  position: relative;
  pointer-events: none;
}

.passhead{
  font-weight: 650;
  color:#0E314C;
  font-size: 35px;
  font-family: 'Poppins', sans-serif !important;
}
.passwrap{
  background-color:white  ;
  box-shadow: 5px 10px 18px #888888;
  display: flex;
  margin-left: 140px;
  width:1000px;
  margin-top: 100px;
}
.passcontent{
  padding-left: 60px !important;
  padding: 80px;

}
.required{color:gray;
  font-size: .9rem;}
  .imgpass{
    width:320 !important;
    height: 280px !important;
  margin-top: 120px !important;
  margin-left: 25px !important;
  
  }
  .imgpassword{
    width:380 !important;
    height: 280px !important;
  }
  .headerportion{
    background:  linear-gradient(135deg, #23BDB8 0%, #43E794 100%);
    height: 200px;
}
.inputs{
    width: 400px;
}
.profileimage img{
    transform: translate(60px,-130px);
}
.mobiletab{
  display: none !important;
}

/*******************1920px****************************/
@media only screen and (max-width:1921px) and (min-width:1600px){
  .sessionwrap{
    margin-left: 300px;
  }
  .sessiontable{
    margin-left: 300px;
  }
  .sessiontable1{
    margin-left: 110px;
  }
  .tdleft2{
    margin-left: 0px;
  }
  .tablesessionhead2{
    margin-left: 0px;
  }
  .sessionhead3{
    margin-left: 700px!important;
  }
  .passwrap{
    margin-left: 300px;
  }
  .deletewrap{
    margin-left: 280px;
  }
 
}



/*************1600px*****************************/


@media only screen and (max-width:1601px) and (min-width:1536px){
.sessionwrap{
  margin-left: 165px;
}
.passwrap{
  margin-left: 160px;
}
.deletewrap{
  margin-left: 165px;
}
}


/************1560 laptop view****************************/

@media only screen and (max-width:1537px) and (min-width:1439px){
  .sessionwrap{
    margin-left: 143px;
  }
  .passwrap{
    margin-left: 140px;
  }
  .deletewrap{
    margin-left: 145px;
  }
  }









/************1440 laptop view****************************/




@media screen and (max-width: 1441px) and (min-width:1366px)
{
 .passwrap{
  margin-left: 100px;
  margin-right: 70px;
  margin-top: 100px;
 }
 .deletecontent{
  margin-top: -10px;
  margin-left: 0px !important;
}
.deletimage{
  margin-left: -150px;
  height: 200px;
  margin-top: -50px;
}
.deletebutton {

  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #23BDB8;
  padding: .7em 3em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: -180px !important;
}
.deletewrap{
  margin-left: 100px ;
  margin-top: 100px;
  }
  .sessionwrap{
    margin-left: 220px;
  }
  .radio{
    margin-left: -80px;
  }
  .session1{
    margin-left:-80px;
  }
  .session{
    margin-left:-120px;
  }
  .sessiontable{
    margin-left: 210px;
  }
}



/************1366 laptop view****************************/

@media screen and (max-width: 1367px) and (min-width:1279px){
  .sessionwrap{
    margin-left: 190px;
  }
  .passwrap{
    margin-left: 70px;
  }
  .deletewrap{
    margin-left: 70px;
  }
  .session1{
    margin-left: -80px;
  }
  .deletebutton{
    margin-left: -170px !important;
  }
  .radio{
    margin-left: 40px !important;
  }
}



/************1296px*********************/

@media screen and (max-width: 1297px) {
  .session1{
    margin-left: 155px;
  }
  .sessiontable{
    margin-left: 200px;
  }
  .passwrap{
    margin-left: 35px;
    margin-top: 100px;
  }
  .deletewrap{
    margin-left: 35px;
    margin-top: 100px;
  }
  .sessionwrap{
    margin-left: 35px;
  }
}



/************1280px*********************/


@media screen and (max-width: 1281px) {
  .session1{
    margin-left: 155px;
  }
  .sessiontable{
    margin-left: 200px;
  }
  .passwrap{
    margin-left: 35px;
    margin-top: 100px;
  }
  .deletewrap{
    margin-left: 35px;
    margin-top: 100px;
  }
  .sessionwrap{
    margin-left: 35px;
  }
}
/************1201 laptop view****************************/



@media screen and (max-width: 1201px) {
.tab1{
  font-size: 12px !important;
}
.tab2
{
  font-size: 12px !important;
}
.tab3c{
  font-size: 12px!important;
}
.tab4c{
  font-size: 12px !important;
}
.tab5{
  font-size: 12px !important;
}
.deletewrap{
  margin-left: 25px;
  width:950px;
  margin-top: 100px;
}
.passwrap{
  width:950px;
  margin-left: 25px;
  margin-top: 100px;
}
.session1{
  margin-left: 120px;
}
.sessionwrap{
  width:950px;
  margin-left: 25px;
}
}



/************1024 laptop view****************************/



@media screen and (max-width: 1025px){

.accord{
  height:90px
}

  .tablesessionhead2{
   
   margin-left: 0px;
  }
  .tdleft2{
  
    margin-left: 5px
  }
  .session1{
  
    padding-bottom: 30px;
    margin-left: 170px

  }
  .session{
    padding-bottom: 30px;
  }
  .ramisession{
    margin-top: 0px;
  }
  .sessiontable{
    margin-left: 150px;
    padding-right: 10px !important;
  }
  .table{
    padding-left: 10px !important;
  }
  .radio{
    padding-top: 10px !important;
    margin-left: 20px;
    padding-bottom: 20px!important;
  }
  .sessionhead3{
    margin-left: 440px !important;
  }
  .sessionhead{
    font-size: 35px;
    font-weight: 650;
    font-family: 'Poppins', sans-serif  !important ;
    color:#0e314C;
    text-align: left;
    margin-left: 13px;
    margin-top: 40px !important;
    }
  .sessionwrap{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    margin-left: -5px;
    width:1000px;
    border-radius: 5px;
    margin-top: 0px !important;
  }
  .box{
    background-color:#F5FFFA  ;
    height:100%;
   width: 1550px !important;
   display: none !important;
  }
  .mobiletab{
    display: block !important;

    margin-top: 150px !important;
  }
  
.drawer{
  width:300px
}
.lis{
  display: flex;
}
#menu{

width:200px;
height: 30px;
}
.text{

 
  color:#4A6F8A !important;
  font-size: 18px !important;
  text-align: left !important;
  font-weight: 650 !important;
  font-family: 'Poppins', sans-serif !important;
}
.text1{
  margin-top: 140px;
  color:#4A6F8A !important;
  font-size: 18px !important;
  text-align: left !important;
  font-weight: 650 !important;
  font-family: 'Poppins', sans-serif !important;
}
.icon{
  margin-right: 20px;
  height: 20px;
}
.pass{
  margin-bottom: 30px;
  padding-top: 30px;
}
.passwrap{
  margin-left:-5px !important;
  margin-right: 10px !important;
  margin-top: 0px;
 
}
.deletewrap{
  margin-left: -5px ;
  margin-top: 0px;
  }
.deletebutton{
  margin-left: -170px;
}
.delete1{
  padding-bottom: 30px;
  padding-top: 30px;
}
}


/*******************************************1008px**************************/



@media screen and (max-width: 1008px){
.sessionwrap{
  width:950px;
  margin-left: 12px;
}
.session1{
  margin-left: 160px;
}
.passwrap{
  margin-left: 12px !important;
}
.deletewrap{
  margin-left: 12px ;
}
}

/******************************************961px**************************/



@media screen and (max-width: 961px){
  .sessionwrap{
    width:920px;
    margin-left: 5px;
  }
  .session1{
    margin-left: 145px;
  }
  .passwrap{
    width:920px;
    margin-left: 5px !important;
  }
  .deletewrap{
    width:920px;
    margin-left: 5px ;
  }
  }





/*******************************************913px**************************/

@media screen and (max-width: 915px){
  .mobiletab{
   
  
    margin-top: -2px !important;
  }
  .passwrap{
    width:880px;
    margin-left: 2px !important;
  }
  .deletewrap{
    width:880px;
    margin-left: 2px !important;
  }
  .sessionhead1{
    margin-left: 60px;
  }
  .session1{
    margin-left: 117px;
  }
  .radio{
    margin-left: -20px ;
  }
  .sessionwrap{
    width:880px;
    margin-bottom: 1px;
    margin-left: 2px 
  }
} 


/*******************************************900px**************************/

@media screen and (max-width: 901px){
  .mobiletab{
   
  
    margin-top: -2px !important;
  }
  .passwrap{
    width:850px;
    margin-left: 8px !important;
  }
  .deletewrap{
    width:850px;
    margin-left: 8px !important;
  }
  .sessionhead1{
    margin-left: 60px;
  }
  .session1{
    margin-left: 117px;
  }
  .radio{
    margin-left: -20px ;
  }
  .sessionwrap{
    width:850px;
    margin-left: 8px;
    margin-bottom: 1px;
  }
} 

/*******************************************890px**************************/

@media screen and (max-width: 891px){
  .session1{
    margin-left: 100px;
  }
  .sessionwrap{
    width:750px;
    margin-left: 50px;

  }
  .sessioncontent
  {
    margin-top: -50px;
  }
  .sessionhead1{
    margin-left: 220px;
  }
  .imgsession{
    margin-left: 10px;
  }
  .sessionhead4{
    margin-left: 220px;
  }
  .sessionwrap{
    width:750px;
    margin-left: 50px;

  }
  .passwrap{
    width:600px;
    margin-left: 120px !important;
   
  }
  .imgpass{
    width:320 !important;
    height: 280px !important;
  margin-top: 30px !important;
  margin-left: 25px !important;
  }
  .deletewrap{
    width:600px;
    height: 850px;
    margin-left: 130px !important;
  }
  .deletecontent{
    margin-top: -170px;
    margin-left: 0px !important;
  }
  .deletimage{
    margin-left: 0px;
    margin-top: -150px;
  }
  .deletehead{
    margin-left: 105px;
    font-size: 30px!important;
  }
}



/*******************************************850px**************************/


@media screen and (max-width: 851px){
  .mobiletab{
    margin-top: -100px;
  }
  .sessionwrap{
    margin-left:30px;
  }
  .passwrap{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    margin-left: 100px !important;
    margin-right: 100px !important;
    width:600px;
    height:880px !important;
  }
  .passcontent{
    padding-left: 50px !important;
    padding: 0px;
    margin-top: -80px;
  }
 
  .imgpass{
    width:320 !important;
    height: 280px !important;
  margin-top: 20px !important;
  margin-left: 25px !important;
  }
  .deletewrap{
    width:600px;
    height:880px !important;
  }
}



/*******************************************825px**************************/


@media screen and (max-width: 825px){
 
}





/************768 tab view****************************/


@media screen and (max-width: 769px){
  .mobiletab{
    display: block !important;
  
    margin-top: 0px !important;
  }
  .sessioncontent
  {
    margin-top: 0px;
  }
  .ramisession{
    margin-top: 0px;
  }
   .radio{
     padding-bottom: 10px !important;
   }
   .sessionhead3{
    margin-left: 340px!important;
   }
   .session1{
    margin-left: 100px;
   }
   .sessiontable{
    margin-left: 100px;
   }
   .pass{
    margin-top: 10px;
   }
  .passwrap{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    margin-left: 70px !important;
    margin-right: 80px !important;
    width:600px;
    height:780px !important;
  }
  .passcontent{
  padding-left: 50px !important;
  padding: 50px;

}
.imgpass{
  width:320 !important;
  height: 280px !important;
margin-top: 30px !important;
margin-left: 25px !important;
}
.deletewrap{
  height: 850px;
  width: 600px;
  margin-left: 65px !important;
}
.delete1{
  padding-top: 30px;
}
.deletehead{
  margin-left: 105px;
  font-size: 30px!important;
}
.deletecontent{
  margin-top: -170px;
  margin-left: 0px !important;
}
.deletimage{
  margin-left: 0px;
  margin-top: -150px;
}
.deletebuttons{
  margin-left: 100px;
  display: flex;
}
.deletebutton{
  margin-left: -170px !important;
}
.sessionhead{
  font-size: 35px;
  font-weight: 650;
  font-family: 'Poppins', sans-serif  !important ;
  color:#0e314C;
  text-align: left;
  margin-left: 60px;

  }
  .session{
    margin-top: 0px;
  }
  .sessionhead1{
    font-size: 30px;
    font-weight: 650;
    font-family: 'Poppins', sans-serif  !important ;
    color:#0e314C;
    margin-top: 30px !important;
    width: 600px;
    margin-left: 75px;
    }
    
  .sessionbutton {
    margin-top: 10px;
    position: relative;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #23BDB8;
    padding: 1em 2.7em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
   border-radius: 5px;
   margin-bottom: 30px;
  }
  .sessionbuttonlink{
    color:white !important;
  }
 
  
  .sessionwrap{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    margin-left: 40px;
    width:650px;
    border-radius: 5px;
   
  }
  .sessioncontent{
  margin-left: -50px;
  }
  .imgsession{
    margin-left: 0px; 
  }
  
  .sessionhead4{
    width:650px;
    margin-left: 55px;
    font-size: 30px;
    margin-top: 30px !important;
  }
  .sessionbutton{
    margin-left: 40px;
  }
  .radio{
    padding-top:50px;
    margin-left: 30px;
  }
}



/*******************************************540px**************************/
@media screen and (max-width:596px){
  
  .tablesessionhead2{
   
    margin-left: 0px;
   }
   .tdleft2{
   
     margin-left: 2px
   }
   .diolog1{
    overflow: hidden;
   }
   .session1{
     margin-left: 50px;
     
  
   }
   .sessionhead3{
    margin-left: 10px !important;
   }
   .navsession{
    width:400px;
   }
   .sessionwrap1{
    width:400px;
   }
   .sessiontable{
     margin-left: 35px;
     padding-right: 10px !important;
   }
   .table{
     padding-left: 10px !important;
   }
  .passwrap{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    margin-left: 67px !important;
    width:370px;
    height:720px !important;
   
  }
  .passcontent{
    padding-left: 35px !important;
  margin-top: -80px;
   
  }
  .password{
    width:300px;
  margin-top: 10px !important;
  
  }
 
  .passbutton{
    padding: 1em 7.7em;
  }
  .passhead{
    font-weight: 650;
    color:#0E314C;
    font-size: 30px;
    font-family: 'Poppins', sans-serif !important;
  }
  .imgpass{
    width:320 !important;
    height: 280px !important;
  margin-top: 30px !important;
  margin-left: 10px !important;
  }
  .deletewrap{
    height: 800px;
    width: 380px;
    margin-left: 60px !important;

  }
  .delete{
    margin-top: 40px;
  }
  .deletehead{
    margin-left: 0px;
    font-size: 24px!important;
  }
  .deletecontent{
    margin-top: -220px;
    margin-left: 40px !important;
    font-size: 20px;
  }
  .deletimage{
    margin-left: 0px;
    margin-top: -150px;
  }
  .deletebuttons{
    margin-left: 100px;
    display: flex;
  }
  #radio-head{
    margin-left: -20px !important;
    width: 300px;
    font-size: 17px;
    text-align: left;
  }
  .deletebutton{
    margin-left: -140px !important;
  }
  .sessionhead{
margin-left: 45px;
font-size: 30px;
  }
  .sessionwrap{
    width:400px;
   
    margin-left: 52px;
  
  }
  .sessionhead1{
    width:400px;
    margin-left: 50px;
  }
  .sessionbutton{
    margin-left: 90px;
  }
  .radio{
    padding-top:10px !important;
    margin-left: -25px;
  }
  .sessionhead4{
    width:350px ;
    margin-left: 75px;
    font-size: 30px;
    margin-top: 30px!important;
  }
   .sessiontable1{
    margin-left: 10px;
  }
  .deletebutton1{
    padding: .7em 1em;
  }
  .deletebutton2{
    padding: .7em 1em;
  }
  .delete2text{
    font-size: 12px !important;
  }
  .delete2head{
    font-size: 20px !important;
  }
}












/*******************************************480px**************************/





@media screen and (max-width:481px){
  .delete2text{
    font-size: 12px !important;
  }
  .delete2head{
    font-size: 20px !important;
  }
  .mobiletab{
    display: block !important;
  
    margin-top: -10px !important;
  }
  .tablesessionhead2{
   
    margin-left: 0px;
   }
   .tdleft2{
   
     margin-left: 2px
   }
   .diolog1{
    overflow: hidden;
   }
   .session1{
     margin-left: 25px;
     
  
   }
   .sessionhead3{
    margin-left: 10px !important;
   }
   .navsession{
    width:400px;
   }
   .sessionwrap1{
    width:400px;
   }
   .sessiontable{
     margin-left: 35px;
     padding-right: 10px !important;
   }
   .table{
     padding-left: 10px !important;
   }
  .passwrap{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    margin-left: 37px !important;
    width:370px;
    height:760px !important;
   
  }
  .passcontent{
    padding-left: 35px !important;
  margin-top: -80px;
   
  }
  .password{
    width:300px;
  margin-top: 10px !important;
  
  }
 
  .passbutton{
    padding: 1em 7.7em;
  }
  .passhead{
    font-weight: 650;
    color:#0E314C;
    font-size: 30px;
    font-family: 'Poppins', sans-serif !important;
  }
  .imgpass{
    width:320 !important;
    height: 280px !important;
  margin-top: 30px !important;
  margin-left: 10px !important;
  }
  .deletewrap{
    height: 800px;
    width: 380px;
    margin-left: 32px !important;

  }
  .delete{
    margin-top: 40px;
  }
  .deletehead{
    margin-left: 0px;
    font-size: 24px!important;
  }
  .deletecontent{
    margin-top: -170px;
    margin-left: 40px !important;
    font-size: 20px;
  }
  .deletimage{
    margin-left: 0px;
    margin-top: -150px;
  }
  .deletebuttons{
    margin-left: 100px;
    display: flex;
  }
  #radio-head{
    margin-left: -20px !important;
    width: 300px;
    font-size: 17px;
    text-align: left;
  }
  .deletebutton{
    margin-left: -140px !important;
  }
  .sessionhead{
margin-left: 45px;
font-size: 30px;
  }
  .sessionwrap{
    width:400px;
   
    margin-left: 22px;
  
  }
  .sessionhead1{
    width:400px;
    margin-left: 50px;
  }
  .sessionbutton{
    margin-left: 90px;
  }
  .radio{
    padding-top:10px !important;
    margin-left: -25px;
  }
  .sessionhead4{
    width:350px ;
    margin-left: 75px;
    font-size: 30px;
    margin-top: 30px!important;
  }
   .sessiontable1{
    margin-left: 10px;
  }
  .deletebutton1{
    padding: .7em 1em;
  }
  .deletebutton2{
    padding: .7em 1em;
  }
}


/*******************************************425px**************************/



@media screen and (max-width: 426px){
  .delete2text{
    font-size: 10px !important;
  }
  .delete2head{
    font-size: 18px !important;
  }
  .mobiletab{
    display: block !important;
  
    margin-top: -10px !important;
  }
  .tablesessionhead2{
   
    margin-left: 0px;
   }
   .tdleft2{
   
     margin-left: 2px
   }
   .diolog1{
    overflow: hidden;
   }
   .session1{
     margin-left: -3px;
     
  
   }
   .sessionhead3{
    margin-left: 10px !important;
   }
   .navsession{
    width:400px;
   }
   .sessionwrap1{
    width:400px;
   }
   .sessiontable{
     margin-left: 35px;
     padding-right: 10px !important;
   }
   .table{
     padding-left: 10px !important;
   }
  .passwrap{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    margin-left: 13px !important;
    width:370px;
    height:790px !important;
   
  }
  .passcontent{
    padding-left: 35px !important;
  margin-top: -80px;
   
  }
  .password{
    width:300px;
  margin-top: 10px !important;
  
  }
 
  .passbutton{
    padding: 1em 7.7em;
  }
  .passhead{
    font-weight: 650;
    color:#0E314C;
    font-size: 30px;
    font-family: 'Poppins', sans-serif !important;
  }
  .imgpass{
    width:320 !important;
    height: 280px !important;
  margin-top: 30px !important;
  margin-left: 10px !important;
  }
  .deletewrap{
    height: 800px;
    width: 380px;
    margin-left: 9px !important ;

  }
  .delete{
    margin-top: 40px;
  }
  .deletehead{
    margin-left: 0px;
    font-size: 24px!important;
  }
  .deletecontent{
    margin-top: -170px;
    margin-left: 40px !important;
    font-size: 20px;
  }
  .deletimage{
    margin-left: 0px;
    margin-top: -150px;
  }
  .deletebuttons{
    margin-left: 100px;
    display: flex;
  }
  #radio-head{
    margin-left: -20px !important;
    width: 300px;
    font-size: 17px;
    text-align: left;
  }
  .deletebutton{
    margin-left: -140px !important;
  }
  .sessionhead{
margin-left: 45px;
font-size: 30px;
  }
  .sessionwrap{
    width:400px;
   
    margin-left: -3px;
  
  }
  .sessionhead1{
    width:400px;
    margin-left: 50px;
  }
  .sessionbutton{
    margin-left: 90px;
  }
  .radio{
    padding-top:10px !important;
    margin-left: -60px;
  }
  .sessionhead4{
    width:350px ;
    margin-left: 75px;
    font-size: 30px;
    margin-top: 30px!important;
  }
   .sessiontable1{
    margin-left: 10px;
  }
  .deletebutton1{
    padding: .7em 1em;
  }
  .deletebutton2{
    padding: .7em 1em;
  }
}

/*******************************************415px**************************/


@media screen and (max-width: 415px){
  .session1{
    margin-left: 10px;
    
 
  }
  .radio{
    padding-top:10px !important;
    margin-left: 140px;
  }
  .sessionhead3{
   margin-left: 0px !important;
  }
  .navsession{
   width:360px;
  }
  .sessionwrap1{
   width:360px;
  }
  .sessiontable{
    margin-left: 30px;
    padding-right: 10px !important;
  }
  .table{
    padding-left: 10px !important;
  }
  .sessiontable1{
    padding-left: 15px !important;
  }
  .passwrap{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    margin-left: 23px !important;
    width:335px;
    height:700px !important;
   
  }
  .passcontent{
    padding-left: 40px !important;
   margin-top: -150px;
   padding-bottom: 10px !important;
   
  }
  .password{
    width:250px;
  margin-top: 10px !important;
  
  }
  .passbutton{
    padding: 1em 6.3em;
  }
  .passhead{
    font-weight: 650;
    color:#0E314C;
    font-size: 25px;
    font-family: 'Poppins', sans-serif !important;
  }
  .imgpass{
    width:320 !important;
    height: 280px !important;
  margin-top: 30px !important;
  margin-left: 10px !important;
  }
  .deletewrap{
    height: 830px ;
    width: 340px;
    margin-left: 20px !important;
   
  }
  .delete{
    margin-top: 40px;
  }
  .deletehead{
    margin-left: 0px;
    font-size: 20px!important;
  }
  .deletecontent{
    margin-top: -200px !important;
    margin-left: 40px !important;
    font-size: 20px;
  }
  .deletimage{
    margin-left: 0px;
    margin-top: -120px;
  }
  .deletebuttons{
    margin-left: 20px !important;
    display: flex;
  }
  #radio-head{
    margin-left: -20px !important;
    width: 300px;
    font-size: 17px;
    text-align: left;
  }
  .deletebutton{
    margin-left: -130px;
  }
  .sessionhead{
    margin-left: 48px;
    font-size: 25px;
      }
      .sessionwrap{
        width:350px;
        margin-left: 14px;
     
      }
      .sessionhead1{
        width:300px;
        margin-left: 75px;
        font-size: 30px;
      }
      .sessionhead4{
        width:350px ;
        margin-left: 50px;
        font-size: 30px;
        margin-top: 30px!important;
      }
      .sessionbutton{
        margin-left: 65px;
      }
      .radio{
        padding-top:50px;
        margin-left: -45px;
      }
      .tablesessionhead2{
        font-size: 16px;
        
      }
      .tdleft2{
        font-size: 13px;
       
      }
      .tablesessionhead{
        font-size: 18px;
        
      }
      .tdleft1{
        font-size: 13px;
       
      }
      .deletebutton1{
        padding: .7em 1em;
      }
      .deletebutton2{
        padding: .7em 1em;
      }
      .tdright{
        font-size:13px;
        margin-left: 60px;
      }
      .sessiontable{
        margin-left: 40px;
      }
}


/*******************************************394px**************************/



@media screen and (max-width: 394px){
  .session1{
    margin-left:0px ;
  }
  .radio{
    margin-left: -60px;
  }
  .passwrap{
    margin-left: 14px !important;
  }
  .deletewrap{
    margin-left: 10px !important;
  }
  .sessionwrap{
    margin-left: 5px;
  }
}


/*******************************************376px**************************/





@media screen and (max-width: 376px){
  .session1{
    margin-left: -8px;
    
 
  }
  .radio{
    padding-top:10px !important;
    margin-left: 140px;
  }
  .sessionhead3{
   margin-left: 0px !important;
  }
  .navsession{
   width:360px;
  }
  .sessionwrap1{
   width:360px;
  }
  .sessiontable{
    margin-left: 30px;
    padding-right: 10px !important;
  }
  .table{
    padding-left: 10px !important;
  }
  .sessiontable1{
    padding-left: 15px !important;
  }
  .passwrap{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    margin-left: 5px !important;
    width:335px;
    height:740px !important;
   
  }
  .passcontent{
    padding-left: 40px !important;
   margin-top: -150px;
   padding-bottom: 10px !important;
   
  }
  .password{
    width:250px;
  margin-top: 10px !important;
  
  }
  .passbutton{
    padding: 1em 6.3em;
  }
  .passhead{
    font-weight: 650;
    color:#0E314C;
    font-size: 25px;
    font-family: 'Poppins', sans-serif !important;
  }
  .imgpass{
    width:320 !important;
    height: 280px !important;
  margin-top: 30px !important;
  margin-left: 10px !important;
  }
  .deletewrap{
    height: 850px ;
    width: 340px;
    margin-left: 2px !important;
   
  }
  .delete{
    margin-top: 40px;
  }
  .deletehead{
    margin-left: 0px;
    font-size: 20px!important;
  }
  .deletecontent{
    margin-top: -200px !important;
    margin-left: 40px !important;
    font-size: 20px;
  }
  .deletimage{
    margin-left: 0px;
    margin-top: -120px;
  }
  .deletebuttons{
    margin-left: 20px !important;
    display: flex;
  }
  #radio-head{
    margin-left: -20px !important;
    width: 300px;
    font-size: 17px;
    text-align: left;
  }
  .deletebutton{
    margin-left: -130px;
  }
  .sessionhead{
    margin-left: 48px;
    font-size: 25px;
      }
      .sessionwrap{
        width:350px;
        margin-left: -2px;
     
      }
      .sessionhead1{
        width:300px;
        margin-left: 75px;
        font-size: 30px;
      }
      .sessionhead4{
        width:350px ;
        margin-left: 50px;
        font-size: 30px;
        margin-top: 30px!important;
      }
      .sessionbutton{
        margin-left: 65px;
      }
      .radio{
        padding-top:50px;
        margin-left: 100px;
      }
      .tablesessionhead2{
        font-size: 16px;
        
      }
      .tdleft2{
        font-size: 13px;
       
      }
      .tablesessionhead{
        font-size: 18px;
        
      }
      .tdleft1{
        font-size: 13px;
       
      }
      .deletebutton1{
        padding: .7em 1em;
      }
      .deletebutton2{
        padding: .7em 1em;
      }
      .tdright{
        font-size:13px;
        margin-left: 60px;
      }
      .sessiontable{
        margin-left: 40px;
      }
      .delete2text{
        font-size: 10px !important;
      }
      .delete2head{
        font-size: 18px !important;
      }
}




/*************************************361px**************************/



@media screen and (max-width: 361px){
  .session1{
    margin-left: -15px;
  }
  .sessionwrap{
    margin-left: -10px;
  }
  .sessiontable{
    margin-left: 40px;
  }
  .passwrap{
    margin-left: -3px !important;
  }
  .deletewrap{
    margin-left: -5px !important;
  }
  .delete2text{
    font-size: 10px !important;
  }
  .delete2head{
    font-size: 18px !important;
  }
}


/*******************************************321px**************************/



@media screen and (max-width: 323px){
  .tablesessionhead2{
    font-size: 14px;
    
  }
  .tdleft2{
    font-size: 11px;
   
  }
  .tablesessionhead{
    font-size: 14px;
    
  }
  .tdleft1{
    font-size: 10px;
   
  }
  .session1{
    margin-left: -6px;
    
 
  }

  .tdleft2{
    font-size: 10px;
  }
  .sessionhead3{
   margin-left: 0px !important;
  }
  .navsession{
   width:300px;
  }
  .sessionwrap1{
   width:300px;
  }
  .sessiontable{
    margin-left: 25px;
   
  }
  .table{
    padding-left: 10px !important;
  }
  .tdright{
    margin-left: 30px;
    font-size: 11px !important;
  }
  .tdleft{
    margin-left: 5px;
    font-size: 13px;

  }
  .sessiontable1{
    padding-left: 0px !important;
  }
  .passwrap{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    margin-left: -5px !important;
    width:300px;
    height:700px !important;
    
  }
  .deletebutton{
    margin-left: -120px !important;
  }
  .passcontent{
    padding-left: 25px !important;
   
    padding-bottom: 0px !important;
  }
  .password{
    width:250px;
  margin-top: 10px !important;
  
  }
  .passbutton{
    padding: 1em 6.3em;
  }
  .passhead{
    font-weight: 650;
    color:#0E314C;
    font-size: 25px;
    font-family: 'Poppins', sans-serif !important;
  }
  .imgpass{
    width:320 !important;
    height: 280px !important;
  margin-top: 30px !important;
  margin-left: 10px !important;
  }
  .deletewrap{
    height: 800px;
    width: 300px;
    margin-left: -5px;
  
  }
  .delete{
    margin-top: 40px;
  }

  .deletebutton1{
    padding: .7em .5em;
  }
  .deletebutton2{
    padding: .7em .5em;
  }
  .deletehead{
    margin-left: -10px;
    font-size: 22px!important;
  }
  .deletecontent{
    margin-top: -190px !important;
    margin-left: 40px !important;
    font-size: 20px;
  }
 
  .deletimage{
    margin-left: 0px;
    margin-top: -80px;
  }
  .deletebuttons{
    margin-left: 100px;
    display: flex;
  }
  #radio-head{
    margin-left: -20px !important;
    width: 300px;
    font-size: 17px;
    text-align: left;
  }
  #labelradio{
    width:300px;
    text-align: left;
  }
  .sessionhead{
    margin-left: 20px;
    font-size: 25px;
      }
      .sessionwrap{
        width:300px;
        margin-left: -6px;
       
      }
      .sessionhead1{
        width:200px;
        margin-left: 100px;
        font-size: 30px;
      }
      .sessionhead4{
        width:250px;
        margin-left: 75px;
        font-size: 30px;
        margin-top: 30px !important;
      }
      .sessionbutton{
        margin-left: 40px;
      }
      .radio{
        padding-top:10px !important;
        margin-left: 60px;
   
      }
      .tdright{
        font-size:12px
      }
      .delete2text{
        font-size: 10px !important;
      }
      .delete2head{
        font-size: 18px !important;
      }
}
@media screen and (max-width: 281px){
  .sessionwrap{
    margin-left: -10px;
    width:270px;
  }
  .sessionbutton{
    margin-left: 25px;
  }
  .sessionhead1{
    margin-left: 80px;
  }
  .sessionhead4{
    margin-left: 60px;
  }
  .deletewrap{
    height: 720px !important;
    width: 270px !important;
    margin-left: -11px !important;
  
  }
  .deletecontent{
    margin-top: -120px !important;
  }
  #radio-head{
    margin-left: -20px !important;
    width: 220px;
    font-size: 14px;
    text-align: left;
  }
  .session1{
    margin-left: -16px;
  }
  #labelradio{
    margin-left: -12px;
    width:260px;
  }
  .deletebutton{
    margin-left: -80px !important;
  }
  .passwrap{
    width:270px;
    height: 750px;
    margin-left: -10px !important;

  }
  .passcontent{
    margin-left: -15px;
  }
}



/**************userprofile***********************/

  /* input{
      display: none;
  }
  .headerportion1{
  } */
  .headerportion{
      background-color: #23BDB8 !important;
      height: 200px;
     
  }
 
  .inputs{
      width: 400px;
  }
  .profileimage img{
      transform: translate(55px,60px);
  }
  .userdetail{
      margin-top: 60px;
  }
  .addition{
      transform: translate(75px,-50px)!important;
  }
  .userdetail h2{
      text-align: left;
  }
  .userdetail h3{
      font-size: 26px;
      font-weight: 650;
      color: #4A6F8A;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      margin-left: -97px; 
  }
  .userdetail h2{
      font-size: 35px;
      font-weight: 650;
      color: #4A6F8A;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      margin-left: -95px;
  }
  .email ul li{
      display: inline-grid;
      padding-right: 22px;
  }
  .email p2{
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
      color: #4A6F8A;
  }
  .email{
  text-align: left;
  margin-left: -32px;
  margin-top: 40px
  }
  .localphone{
      margin-left: -27px;
  }
  .about h2{
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
      color: #4A6F8A;
  }
  .about{
      margin-top: 64px;
      text-align: justify;
  }
  .about p3{
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
      line-height: 34px;
      color: #4A6F8A;
  }
  
  @media screen and (max-width:1025px){
    
      .profileimage img{
          transform: translate(30px,60px);
          width: 25%!important;
      }
      .addition{
          transform: translate(65px,-105px)!important;
      }
      .userdetail h2{
          font-size: 26px;
          margin-left: -10px;
      }
      .userdetail h3{
          font-size: 20px;
          margin-left: -10px;
      }
      .userdetail{
          margin-top: 70px;
      }
      .email ul li{
          padding-right: 11px;
      }
      .email{
          margin-left: -50px;
      }
  }
  @media screen and (max-width:769px){
      
      .addition{
          transform: translate(75px,-105px);
      }
      .email ul li{
          display: block;
          padding-bottom: 25px;
      }
      .userdetail{
          margin-top: 3px;
      }
      .about{
          margin-top: 2px;
      }
      .about p3{
          word-break: break-all;
      }
  }
 
  @media screen and (max-width:426px) {
      .profileimage img{
          transform: translate(88px,60px);
          width: 55%!important;
      }
      .userdetail{
          margin-top: 30px;
      }
      .email{
          margin-left: 10px;
      }
      .about{
          margin: 40px;
      }
      .addition{
          transform: translate(62px,-95px)!important;
      }
  }
  @media screen and (max-width:376px){
      .profileimage img{
          transform: translate(80px,60px);
      }
      .addition{
          transform: translate(42px,-105px)!important;
      }
  }
  @media screen and (max-width:321px){
      .profileimage img{
          transform: translate(55px,60px);
          width: 65%!important;
      }
      .addition{
          transform: translate(47px,-105px)!important;
      }
  }