@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.homePage{
    margin-top: 100px; 
    overflow-x : hidden;
}
@media only screen and (max-width:430px){
    .homePage{
        margin-top: 90px;
    }
}