@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    overflow-x: hidden;
    background-color: white;
  }
  
.singincard769{display: none;}
  .singin{display: block;
    text-align: left;
    padding-top: 100px;
   padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
    
  }

  #cardpaddingsign {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 10px;
    
    
}
#input-with-icon-textfield1{width: 350px;}


.signupbtn{ background: #23BDB8 !important;
    width: 410px;
    height: 56px;
    font-size: 1.1rem;
    color: #F5FFFA;
    border: none;
    font-family: 'Poppins', sans-serif !important;
    margin-top: 5px !important;
    }

    .singinimg{
       height: 690px;
    }
#singin22{background-color: #F5FFFA;}
    .loginlink{font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        padding-top: 10px;
        
    }

    .loginlink1{font-family: 'Poppins', sans-serif;
        font-size: .9rem;
        padding-top: 10px;
      padding-bottom: 50px;}

        .required{color:gray;
          font-size: .9rem;
        
      }

      /*******************************************1280******************************************************/

@media screen  and (max-width:1281px){
  #cardpaddingsign {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 10px;
}
}
/*******************************************1025******************************************************/

@media screen  and (max-width:1025px){
  #input-with-icon-textfield1{width: 300px;  }


  .singin {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    
}



.singinimg {
  height: 720px;
}
#input-with-icon-textfield1{width: 300px;  }


.signupbtn{ background: #23BDB8 !important;
  width: 360px;
  height: 56px;
  font-size: 1.1rem;
  color: #F5FFFA;
  border: none;
  font-family: 'Poppins', sans-serif !important;
  margin-top: 5px !important;
  }



  #cardpaddingsign {
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: left;
}


}
/********************************912**********************************************/
@media screen and (max-width:913px){
  #input-with-icon-textfield1 {
    width: 250px;
}
#cardpaddingsign {
  

  padding-left: 50px;
   padding-right: 30px; 
  padding-top: 100px;
  padding-bottom: 60px;
}
.signupbtn {
  background: #23BDB8 !important;
  width: 310px;
  height: 56px;
  font-size: 1.1rem;
  color: #F5FFFA;
  border: none;
  font-family: 'Poppins', sans-serif !important;
  margin-top: 5px !important;
}

.singinimg {
  height: 742px;
}
}
/********************************820**********************************************/
@media screen and (max-width:821px){
  #input-with-icon-textfield1 {
    width: 250px;
}
#cardpaddingsign {
  

  padding-left: 50px;
   padding-right: 30px; 
  padding-top: 100px;
  padding-bottom: 60px;
}
.signupbtn {
  background: #23BDB8 !important;
  width: 300px;
  height: 56px;
  font-size: 1.1rem;
  color: #F5FFFA;
  border: none;
  font-family: 'Poppins', sans-serif !important;
  margin-top: 5px !important;
}

.singinimg {
  height: 742px;
}
}

/*********************************************769******/
@media screen and (max-width:769px){
  #input-with-icon-textfield1{width: 350px;  }
  .singincard769{display: block;}
  .singin{display: none;}

  #signuptab769{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
  }

  .signupimg769 {
    height: 500px !important;
    width: 668px;
}
.signupbtn{ background: #23BDB8 !important;
  width: 410px;
  height: 56px;
  font-size: 1.1rem;
  color: #F5FFFA;
  border: none;
  font-family: 'Poppins', sans-serif !important;
  margin-top: 5px !important;
  } 

  .required {
    color: gray;
    font-size: .9rem;
    text-align: left;
    padding-left: 100px;
}

}

/**********************540*****************************/
@media screen and (max-width:541px){
  .signupbtn {
    background: #23BDB8 !important;
    width: 385px;
    height: 56px;
    font-size: 1.1rem;
    color: #F5FFFA;
    border: none;
    font-family: 'Poppins', sans-serif !important;
    margin-top: 5px !important;
}
.required {
  color: gray;
  font-size: .9rem;
  text-align: left;
  padding-left: 0px;
}
}

/**********************426*****************************/
@media screen and (max-width:413px){
  .signupbtn {
    background: #23BDB8 !important;
    width: 280px;
    height: 56px;
    font-size: 1.1rem;
    color: #F5FFFA;
    border: none;
    font-family: 'Poppins', sans-serif !important;
    margin-top: 5px !important;
}
}
/**********************426*****************************/
@media screen and (max-width:426px){
  .singincard769{display: block;}
  .singin{display: none;}
  #input-with-icon-textfield1{width: 250px;  }
  #signuptab769{
    text-align: left;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    
  }

  .signupimg769 {
    height: 400px !important;
    width: 668px;
}


.signupbtn {
  background: #23BDB8 !important;
  width: 300px;
  height: 56px;
  font-size: 1.1rem;
  color: #F5FFFA;
  border: none;
  font-family: 'Poppins', sans-serif !important;
  margin-top: 5px !important;
}
}


 /**********************376*****************************/
 @media screen and (max-width:376px){
  .singincard769{display: block;}
  .singin{display: none;}

  #signuptab769{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    
  }

  

#input-with-icon-textfield1 {
  width: 200px;
}

.signupbtn {
  background: #23BDB8 !important;
  width: 250px;
  height: 56px;
  font-size: 1.1rem;
  color: #F5FFFA;
  border: none;
  font-family: 'Poppins', sans-serif !important;
  margin-top: 5px !important;
}
 
  }

/***************************321********************************/

  @media screen and (max-width:321px){
    #signuptab769{
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      
    }


    #input-with-icon-textfield1 {
      width: 180px;
  }
  .signupbtn {
    background: #23BDB8 !important;
    width: 220px;
    height: 56px;
    font-size: 1.1rem;
    color: #F5FFFA;
    border: none;
    font-family: 'Poppins', sans-serif !important;
    margin-top: 5px !important;
  }
    }



/********************************281**********************************************/
@media screen  and (max-width:281px){
  
  .signupimg769 {
    height: 300px !important;
    width: 668px;
}
#input-with-icon-textfield1 {
  width: 180px;
}
.signupbtn {
  background: #23BDB8 !important;
  width: 220px;
  height: 56px;
  font-size: 1.1rem;
  color: #F5FFFA;
  border: none;
  font-family: 'Poppins', sans-serif !important;
  margin-top: 5px !important;
}
  
}
        