@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

img.logoCareer{
   width: 70px;
   margin-top: -15px;
}

/* Navbar */
.pribut1:focus{
    color: #23BDB8 !important; 
}
.pribut1:active{
    color: #23BDB8 !important; 
}
.active:focus{
    color: #23BDB8 !important; 
}
.active:active{
    color: #23BDB8 !important; 
}
 
 
span.searchicon{
    position: absolute;
    margin-top: 8px; 
 }
 input[type="search"]{
    border-color: #4a6f8a !important;
    padding-right: 50px;
 }
 input[type="search"]::placeholder{
    padding-left: 50px;
    color: #4a6f8a; 
 } 
 
 .button2:hover span.loginIcon{
    transform: translateX(10px);
    transition: ease-in .3s;
 }
 .off__canvas{
    color: white !important; 
    margin-top:100px;
    width: 50%; 
    height: 550px;   
 }
 .off__canvasbody{
    width: 100%;
   background-color: white; 
   padding-top: 80px;
 }
 button.open__button{
    margin-left: -30px;
    margin-top: -5px;
    border: none;
    width: 180px;
     
 } 
 ul.listNav{
    list-style: none;
    color: #4a6f8a !important;
    font-size: 15px;
    padding-top: 0px;
    text-align: right;   
 }
 span.whiteClr,.menuClr{
   color:#4a6f8a !important;
 }
 li.listItemNav{
    padding-bottom:0px; 
    padding-top: 0px;
    color: #4a6f8a !important;
 }
 .lineNav{
    background-color:  #23BDB8;
 }
 span.iconNavHome{
   padding-left: 180px  ;
 }
 span.iconNavWho{
    padding-left: 127px  ;
 }
 span.iconNavBook{
    padding-left: 67px  ;
 }
 span.iconNavCon{
    padding-left: 82px  ;
 }
 span.iconNavUs{
    padding-left:125px  ;
 }
 ul.loginList{
   list-style: none;
   color: #4a6f8a !important;
   text-align: left;
   min-width: 100px; 
   margin-left: 20px;
   height: 80px;
 }
 li.loginListitem{
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   font-size: 15px !important; 
   margin-left: -55px; 
   color: #4a6f8a !important;
 }
 li.loginListitem:hover{
   color: #23BDB8;  
    cursor: pointer;
 }
 @media only screen and (max-width:1440px){
    span.searchicon{
       position: absolute;
       margin-top: 8px; 
    }
    input[type="search"]{
       border-color: #4a6f8a !important;
       padding-right: 50px;
    }
    input[type="search"]::placeholder{
       padding-left: 50px;
       color: #4a6f8a; 
    } 
    
    .button2:hover span.loginIcon{
       transform: translateX(10px);
       transition: ease-in .3s;
    }
    .off__canvas{
       color: white !important; 
       margin-top:100px;
       width: 50%; 
       height: 550px;   
    }
    .off__canvasbody{
       width: 100%;
      background-color: white; 
      padding-top: 80px;
    }
    button.open__button{
       margin-left: -30px;
       margin-top: -5px;
       border: none;
       width: 180px;
        
    } 
    ul.listNav{
       list-style: none;
       color: #4a6f8a !important;
       font-size: 15px;
       padding-top: 0px;
       text-align: right;   
    }
    span.whiteClr,.menuClr{
      color:#4a6f8a !important;
    }
    li.listItemNav{
       padding-bottom:0px; 
       padding-top: 0px;
       color: #4a6f8a !important;
    }
    .lineNav{
       background-color:  #23BDB8;
    }
    span.iconNavHome{
      padding-left: 180px  ;
    }
    span.iconNavWho{
       padding-left: 127px  ;
    }
    span.iconNavBook{
       padding-left: 67px  ;
    }
    span.iconNavCon{
       padding-left: 82px  ;
    }
    span.iconNavUs{
       padding-left:125px  ;
    }
    ul.loginList{
      list-style: none;
      color: #4a6f8a;
      text-align: left;
      min-width: 100px; 
      margin-left: 20px;
      height: 80px;
    }
    li.loginListitem{
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: 15px !important; 
      margin-left: -55px; 
    }
    li.loginListitem:hover{
      color: #23BDB8;  
       cursor: pointer;
    }
 }
  
 @media only screen and (max-width:1370px){
    .searchbar{
      width: 230px; 
    }
    .searchIcon{
      margin-left: 0px;
    } 
      
 }
  
 @media only screen and (max-width:1280px){
    .searchbar{
      width: 200px; 
    }
    .searchIcon{
      margin-left: 0px;
    } 
      
 }
 @media only screen and (max-width:1279px) and (min-width:1200px){
    .searchbar{
      width: 200px;  
    }
    .searchIcon{
      margin-left: 0px;
    }
    .pribut1{ 
       font-size: 12px !important;
    }
     
      
 }
 
 @media only screen and (max-width:974px){
   .buttons1,.button2{
        display: none;
    }
 }
 
 @media only screen and (min-width:973px){
    .res_nav{
        display: none;
    }
 }
 @media only screen and (max-width:960px) and (min-width:913px){
    .searchbar{
       width: 170px;  
     }
     .searchIcon{
       margin-left: -20px;
     }
     span.iconNavHome{
       padding-left: 250px  ;
     }
     span.iconNavWho{
        padding-left: 197px  ;
     }
     span.iconNavBook{
        padding-left: 137px  ;
     }
     span.iconNavCon{
        padding-left: 152px  ;
     }
     span.iconNavUs{
        padding-left:195px  ;
     }
 }
 @media only screen and (max-width:912px){
   .searchbar{
      width: 200px; 
    }
    .searchIcon{
      margin-left: -30px; 
    } 
    span.iconNavHome{
      padding-left: 280px;
   }
   span.iconNavWho{
       padding-left: 225px;
    }
    span.iconNavBook{
       padding-left: 160px;
    }
    span.iconNavCon{
       padding-left: 180px;
    }
    span.iconNavUs{
       padding-left:225px;
    }
 }
 @media only screen and (max-width:900px) and (min-width:891px){
    span.iconNavHome{
       padding-left: 260px;
    }
    span.iconNavWho{
       padding-left: 210px;
    }
    span.iconNavBook{
       padding-left: 150px;
    }
    span.iconNavCon{
       padding-left: 165px;
    }
    span.iconNavUs{
       padding-left:205px;
    }
 }
 @media only screen and (max-width:890px) and (min-width:821px){
    .searchbar{
       width: 250px; 
     }
     .searchIcon{
       margin-left: 40px; 
     } 
     span.iconNavHome{
       padding-left: 250px;
    }
    span.iconNavWho{
        padding-left: 200px;
     }
     span.iconNavBook{
        padding-left: 140px;
     }
     span.iconNavCon{
        padding-left: 155px;
     }
     span.iconNavUs{
        padding-left:200px;
     }
 }
 @media only screen and (max-width:820px){
   .searchbar{
      width: 210px; 
    }
    .searchIcon{
      margin-left:   14px;
    } 
    span.iconNavHome{
      padding-left: 230px;
   }
   span.iconNavWho{
       padding-left: 175px;
    }
    span.iconNavBook{
       padding-left: 110px;
    }
    span.iconNavCon{
       padding-left: 130px;
    }
    span.iconNavUs{
       padding-left:175px;
    }
 }
 @media only screen and (max-width:768px){
   span.iconNavHome{
      padding-left: 180px  ;
   }
   span.iconNavWho{
       padding-left: 125px;
    }
    span.iconNavBook{
       padding-left: 68px;
    }
    span.iconNavCon{
       padding-left: 82px;
    }
    span.iconNavUs{
       padding-left:125px;
    }
 }
 @media only screen and (max-width:672px) and (min-width:641px){
     
     .searchIcon{
       margin-left:   -15px;
     } 
    span.iconNavHome{
       padding-left: 150px  ;
    }
    span.iconNavWho{
        padding-left: 95px;
     }
     span.iconNavBook{
        padding-left: 38px;
     }
     span.iconNavCon{
        padding-left: 52px;
     }
     span.iconNavUs{
        padding-left:95px;
     }
 }
  
 @media only screen and (max-width:640px) and (min-width:601px){
    .searchIcon{
       margin-left:  30px;
     } 
     .searchbar{
       max-width: 210px; 
     }
     span.iconNavHome{
       padding-left: 130px  ;
    }
    span.iconNavWho{
        padding-left: 80px;
     }
     span.iconNavBook{
        padding-left: 20px;
     }
     span.iconNavCon{
        padding-left: 32px;
     }
     span.iconNavUs{
        padding-left:75px;
     }
 }
 @media only screen and (max-width:600px) and (min-width:597px){
    .searchIcon{
       margin-left:10px;
     } 
     .searchbar{
       max-width: 210px;  
     }
    span.iconNavHome{
       padding-left: 110px  ;
    }
    span.iconNavWho{
        padding-left: 58px;
     }
     span.iconNavBook{
        padding-left: 0px;
     }
     span.iconNavCon{
        padding-left: 13px;
     }
     span.iconNavUs{
        padding-left:55px;
     }
 }
 @media only screen and (max-width:596px) and (min-width:542px){
   .off__canvas{ 
      margin-top:91px;   
   }
    button.open__button{
       margin-left: 280px;  
   }
     
  .searchIcon{
    margin-left: 80px; 
    width: 50px;
    border: 1px solid #4a6f8a !important; 
    border-radius: 5px 0px 0px 5px !important;
    border-right: 0px !important;
  }  
  .searchbar{
     width: 200px !important; 
     margin-left: 120px !important;
     border: 1px solid #4a6f8a !important; 
     border-radius: 0px 5px 5px 0px !important;
     border-left: 0px !important;
   }
   span.iconNavHome{
    padding-left: 110px  ;
 }
 span.iconNavWho{
     padding-left: 60px;
  }
  span.iconNavBook{
     padding-left: 0px;
  }
  span.iconNavCon{
     padding-left: 16px;
  }
  span.iconNavUs{
     padding-left:60px;
  }
  
  
  
 }
 @media only screen and (max-width:541px) and (min-width:482px){
   button.open__button{
      margin-left: 200px;  
  }
    
 .searchIcon{
   margin-left: 80px; 
   width: 50px;
   border: 1px solid #4a6f8a !important; 
   border-radius: 5px 0px 0px 5px !important;
   border-right: 0px !important;
 }  
 .searchbar{
    width: 200px !important; 
    margin-left: 120px !important;
    border: 1px solid #4a6f8a !important; 
    border-radius: 0px 5px 5px 0px !important;
    border-left: 0px !important;
  }
  span.iconNavHome{
    padding-left: 130px  ;
 }
 span.iconNavWho{
     padding-left: 75px;
  }
  span.iconNavBook{
     padding-left: 18px;
  }
  span.iconNavCon{
     padding-left: 32px;
  }
  span.iconNavUs{
     padding-left:75px;
  }
  .off__canvas{  
    margin-top: 92px;
    width: 60%;    
 }
 button.open__button{
    margin-left: 230px;  
 }
  
  
 
 
 }
 @media only screen and (max-width:481px) and (min-width:431px){
    button.open__button{
       margin-left: 210px !important;  
   }
     
  .searchIcon{
    margin-left: 80px; 
    width: 50px;
    border: 1px solid #4a6f8a !important; 
    border-radius: 5px 0px 0px 5px !important;
    border-right: 0px !important;
  }  
  .searchbar{
     width: 200px !important; 
     margin-left: 120px !important;
     border: 1px solid #4a6f8a !important; 
     border-radius: 0px 5px 5px 0px !important;
     border-left: 0px !important;
   }
   span.iconNavHome{
     padding-left: 110px  ;
  }
  span.iconNavWho{
      padding-left: 60px;
   }
   span.iconNavBook{
      padding-left: 0px;
   }
   span.iconNavCon{
      padding-left: 15px;
   }
   span.iconNavUs{
      padding-left:60px;
   }
   .off__canvas{  
     margin-top: 92px;
     width: 60%;    
  }
  button.open__button{
     margin-left: 230px;  
  }
   
   
  
  
  }
 @media only screen and (min-width:430px){
    .search2{
        display: none;
    }
 }
 @media only screen and (max-width:430px){
    button.open__button{
        margin-left: 200px;  
        width: 95px;
        margin-top: -2px;
    }
    .off__canvas{  
        margin-top: 92px;
        width: 75%;    
     }
     ul.listNav{ 
        font-size: 14px; 
    } 
    .search{
        display: none;
    } 
    span.iconNavHome{
      padding-left: 115px;
   }
   span.iconNavWho{
       padding-left: 70px;
    }
    span.iconNavBook{
       padding-left: 18px;
    }
    span.iconNavCon{
       padding-left: 28px;
    }
    span.iconNavUs{
       padding-left:70px;
    }
 }
 @media only screen and (max-width:415px){
   .searchBar2{
     width: 170px !important;
   }
   .searchIcon2{
      margin-left: 0px;
   }
 }
 @media only screen and (max-width:395px){
   button.open__button{
      margin-left: 180px;  
  }
  .off__canvas{   
   width: 80%;    
 }
 }
 @media only screen and (max-width:391px){
   button.open__button{
      margin-left: 180px;  
  }
  .off__canvas{   
   width: 80%;    
 }
 }
 @media only screen and (max-width:365px){
   .searchBar2{
      width: 170px !important;
    }
    .searchIcon2{
       margin-left: 10px;
    }
   button.open__button{
      margin-left: 160px;  
      width: 95px;
      margin-top: -2px;
  }
  .off__canvas{   
      min-width: 90%;    
   }
   ul.listNav{ 
      font-size: 12px; 
  } 
  span.iconNavHome{
      padding-left: 130px;
   }
   span.iconNavWho{
       padding-left: 90px;
    }
    span.iconNavBook{
       padding-left: 37px;
    }
    span.iconNavCon{
       padding-left: 50px;
    }
    span.iconNavUs{
       padding-left:85px;
    }
 }
 @media only screen and (max-width:380px){
    button.open__button{
        margin-left: 160px;  
        width: 95px;
        margin-top: -2px;
    }
    .off__canvas{   
        width: 80%;    
     }
     ul.listNav{ 
        font-size: 12px; 
    } 
    span.iconNavHome{
        padding-left: 100px;
     }
     span.iconNavWho{
         padding-left: 60px;
      }
      span.iconNavBook{
         padding-left:12px;
      }
      span.iconNavCon{
         padding-left: 22px;
      }
      span.iconNavUs{
         padding-left:55px;
      }
 }
 @media only screen and (max-width:320px){
    button.open__button{
        margin-left: 145px;  
        width: 85px; 
    }
    .off__canvas{   
        width: 100%;    
     }
     ul.listNav{ 
        font-size: 12px; 
    } 
    span.iconNavHome{
        padding-left: 120px;
     }
     span.iconNavWho{
         padding-left: 80px;
      }
      span.iconNavBook{
         padding-left: 32px;
      }
      span.iconNavCon{
         padding-left: 45px;
      }
      span.iconNavUs{
         padding-left:80px;
      }
 }
 
 
 @media only screen and (max-width:280px){
    .searchBar2{
       width: 160px !important;
     }
     .searchIcon2{
        margin-left: 0px;
     }
    button.open__button{
        margin-left: 110px;  
        width: 85px; 
    }
    .off__canvas{   
        width: 100%;    
     }
     ul.listNav{ 
        font-size: 12px; 
    } 
    span.iconNavHome{
        padding-left: 100px;
     }
     span.iconNavWho{
         padding-left: 60px;
      }
      span.iconNavBook{
         padding-left: 12px;
      }
      span.iconNavCon{
         padding-left: 25px;
      }
      span.iconNavUs{
         padding-left:60px;
      }
 }
   