@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.css-1sir9cm-MuiPaper-root {
    box-shadow: none !important;
}
.gridsection {
    transform: translateY(-450px) !important;
    box-shadow: none !important;
}
.gridhead1, .gridhead2, .gridhead3 {
    color: #0E314C !important;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.gridpara1, .gridpara2, .gridpara3 {
    color: #4A6F8A;
    font-family: 'Poppins', sans-serif;
    text-align: justify !important;
    margin-left: 18px;
    width: 90%;
    font-size: 14px;
    line-height: 1.9;
}
.gridhead1 {
    margin-left: 50px !important;
}
.gridpara1 {
    margin-left: 55px !important;
}
.gridhead3 {
    margin-left: -80px !important;
}
.gridpara3 {
    margin-left: -20px !important;
}




/*--------------- RESPONSIVE SECTION----------------*/

   /*------- RESPONSIVE OF LAP  ------*/
   @media only screen and (max-width:1025px){

    .gridsection {
        margin-left: -40px;
    }
    .gridpara1, .gridpara2, .gridpara3  {
        width: 80% !important;
        word-break: break-all;
    }
    .gridhead2 {
        margin-left: -120px !important;
    }
    .gridpara2 {
        margin-left: -30px !important;
    }
    .gridhead3 {
        margin-left: -300px !important;
    }
    .gridpara3 {
        margin-left: -120px !important;
    }
   }



/*-------- RESPONSIVE OF TAB --------*/
@media only screen and (max-width:769px){

    .css-1sir9cm-MuiPaper-root {
        transform: translateX(57px) !important;
    }
    .gridsection {
        margin-left: 80px !important;
        box-shadow: none !important;
    }
    .gridhead1 {
        transform: translateX(-180px);
        width: 200% !important;
    }
    .gridhead2 {
        transform: translateX(45px);
        width: 200% !important;
    }
    .gridhead3 {
        margin-left: 0px !important;
        transform: translateX(-20px);
        width: 200% !important;
    }
    .gridpara1 {
        width: 150% !important;
        transform: translateX(-150px);
     
    }
    .gridpara2 {
        margin-left: 10px !important;
        width: 150% !important;
        transform: translateX(-50px);
    }
    .gridpara3 {
        margin-left: -130px !important;
        transform: translateX(140px);
        width: 150% !important;
    }
}


 /*---------RESPONSIVE OF MOBILE LARGE----------*/
 @media only screen and (max-width:426px){
    .gridhead1 {
        padding-right: 240px !important;
    }
    .gridpara1 {
        width: 100% !important;
    }
    .gridhead2 {
        padding-right: 340px !important; 
    }
    .gridpara2 {
        width: 100% !important;
        transform: translateX(-110px);
    }
    .gridhead3 {
        padding-right: 450px !important; 
    }
    .gridpara3 {
        width: 100% !important;
        transform: translateX(30px);
    }
 }

 /*--------RESPONSIVE OF MOBILE MEDIUM---------*/   
 @media only screen and (max-width:376px){
    .gridhead1 {
        transform: translateX(-140px);
    }
    .gridpara1 {
        width: 120% !important;
        padding-right: 20px;
    }
    .gridhead2 {
        transform: translateX(75px);
        width: 203% !important;
    }
    .gridpara2 {
        width: 115% !important;
    }
    .gridhead3 {
        width: 236% !important;
        transform: translateX(-35px);
    }
    .gridpara3 {
        width: 115% !important;
    }
 }


/*--------RESPONSIVE OF MOBILE SMALL---------*/ 
@media only screen and (max-width:321px){
    .gridhead1 {
        width: 210% !important; 
        transform: translateX(-105px);
    }
    .gridpara1 {
        width: 146% !important;
        transform: translateX(-155px);
    }
    .gridhead2 {
        width: 256% !important;
        transform: translateX(67px);
    }
    .gridpara2 {
        width: 135% !important;
    }
    .gridhead3 {
        width: 298% !important;
        transform: translateX(-42px);
    }
    .gridpara3 {
        width: 136% !important;
    }
}
