@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.mishsectionportion .uk-card-default {
      box-shadow: none !important;
      
}
.para-two {
      padding-left: 100px !important; 
      transform: translateY(-250px);
      color: #4A6F8A;
      font-family: 'Poppins', sans-serif;
      width: 94%;
      font-size: 14px;
      text-align: justify !important;
      line-height: 1.9;
}

.uk-card-title2{
      color: #0E314C;
      padding-top: 50px;
      font-size: 35px;
      transform: translate(180px,-260px);
      width: 50% !important ;
      font-family: 'Poppins', sans-serif;
      font-weight: 650;
  }

.uk-card-media-left.uk-cover-container2 {
     transform: translate(700px,-600px);
     width: 80%;
}



/*--------  RESPONSIVE SECTION --------*/

/*------   Laptop view  ------*/
@media screen and (max-width:1024px) and (min-width:767px){
      .uk-card-title2 {
            margin-left: -130px !important;
            font-size: 30px;
            width: 80% !important;
      }
      .para-two {
            width: 100%;
            transform: translate(-55px,-250px);
      }
      .uk-card-media-left.uk-cover-container2 {
            transform: translate(560px,-550px);
      }
}



/*------  Tab view  ------*/
@media screen and (max-width:769px) {
      .uk-card-title2 {
            width: 100% !important;
            margin-left: -155px !important;
      }
      .para-two {
            line-height: 1.7 !important;
            width: 120% !important;
            margin-left: -10px;
            font-size: 13px;
      }
      .uk-card-media-left.uk-cover-container2 {
            transform: translate(415px,-474px) !important;
            width: 90% !important;
      }
}


/*------  Mobile view  Large ------*/
@media screen and (max-width:426px) {
      .para-two {
          width: 106% !important;
          font-size: 14px;
      }
      .uk-card-title2 {
            margin-left: -180px !important;
      }
      .uk-card-media-left.uk-cover-container2 {
            transform: translate(9px,-200px) !important;
      }
}


/*-------  Mobile view  Medium  ------*/
@media screen and (max-width:376px) {
      .para-two {
            width: 117% !important;
      }
      .uk-card-title2 {
            margin-left: -160px !important;
      }
      .uk-card-media-left.uk-cover-container2 {
            width: 103% !important;
      }
}


/*-------  Mobile view  Small  -------*/
@media screen and (max-width:321px) {
      .para-two {
            width: 130% !important;
      }
      .uk-card-title2 {
            margin-left: -148px !important;
      }
      .uk-card-media-left.uk-cover-container2 {
            width: 115% !important;
      }
}