    .homeCard{
        transform: translateY(-550px) !important;
        margin-top: -10px;
        padding-bottom: 80px;
    }
    h1.cardMainHead{
        font-family: 'Poppins', sans-serif;
        color: #0E314C !important;
        font-size: 35px;
        font-weight: 650px;
    }
    .cards1{
        margin-top: 50px;
        margin-left: 100px;
        
    }
    .card1,.card2,.card3,.card4{
        max-width: 250px;
        height: 360px !important;
        
    }
    .card2{
        margin-left: -15px;
    }
    .card3{
        margin-left: -30px;
    }
    .card4{
        margin-left: -40px;
    }
    .cardPara1 {
        padding-top: -8px !important;
    }
    .card1head {
        padding-top: 25px !important;
    }
    .card2head {
        padding-right: 70px !important;
        padding-top: 30px;
        width: 140% !important;
    }
    .cardPara2 {
        padding-top: -10px !important;
    }
    .card1:hover,.card2:hover,.card3:hover,.card4:hover{
        transform: translateY(-30px) translateX(10px);
    }
    .cardContent1,.cardContent2,.cardContent3,.cardContent4{
        height: 265px;
        background-color: white !important;
        word-break: break-all;
    }
    p.cardPara1,p.cardPara2,p.cardPara3,p.cardPara4{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #4A6F8A;
        text-align:  justify !important ;
        justify-content: center;
        width: 190px;
        margin-left: 17.5px;
    }
    .card1:hover p.cardPara1,.card2:hover p.cardPara2,.card3:hover p.cardPara3,.card4:hover p.cardPara4{
        color: white;
    }
    .card1:hover .cardContent1,.card2:hover .cardContent2,.card3:hover .cardContent3,.card4:hover .cardContent4{
        background-image: linear-gradient(to right, #23BDB8, #8EE7BA);
    }
    .cards2{
        margin-top: 50px;
        margin-left: 150px;
    }
    .card1head,.card2head,.card3head,.card4head{
        color: #0E314C !important;
        font-family: 'Poppins', sans-serif !important;
        
    }
    .card1:hover .card1head,.card2:hover .card2head,.card3:hover .card3head,.card4:hover .card4head {
        color:white !important;
    }
    


/*--------------- RESPONSIVE SECTION----------------*/

   /*------- RESPONSIVE OF LAP  ------*/
    @media only screen and (max-width:1024px){

     .cards1 {
        padding-right: 70px;
        margin-left: 80px;
     }
     h1.cardMainHead {
        padding-right: 120px !important;
     }    
    .card1,.card2,.card3,.card4{
        max-width: 340px;
        height: 410px;
    }
    .card2{
        margin-left: -50px;
    }
    .card3{
        margin-top: 50px;
        margin-left: 0px;
    }
    .card4{
        margin-top: 50px;
        margin-left: -50px;
    }
    p.cardPara1,p.cardPara2,p.cardPara3,p.cardPara4{
        width: 270px;
    }
}


/*-------- RESPONSIVE OF TAB --------*/
    @media only screen and (max-width:768px){
    h1.cardMainHead {
        padding-right: 10px !important;
    }  
    .cards1 {
        padding-right: 1px;
        margin-left: 90px;
    }  
    .card1,.card2,.card3,.card4{
        max-width: 270px;
        height: 410px;
    }
    .cards2{
        margin-left: 90px;
    }
    .card2{
        margin-left: -20px;
    }
    .card4{
        margin-left: -20px;
    }
    p.cardPara1,p.cardPara2,p.cardPara3,p.cardPara4{
        width: 220px;
    }
    }


    /*---------RESPONSIVE OF MOBILE LARGE----------*/
    @media only screen and (max-width:426px){

        h1.cardMainHead{
            font-size: 30px;
            padding-top: 350px !important;
            margin-left: 10px;
        }
        .cards1 {
            padding-top: 20px !important;
            margin-left: 77px;
        }
        .card2 {
           margin-top: 50px;
           margin-left: 0px;
        }
        .card4 {
            margin-left: 0px;
        } 
    }
    
    
 /*--------RESPONSIVE OF MOBILE MEDIUM---------*/   
    @media only screen and (max-width:376px){
        
        h1.cardMainHead {
            font-size: 30px;
            margin-left: 10px;
            width: 400px;
        }
        .cards1 {
            padding-right: 45px !important;
        }
        p.cardPara1,p.cardPara2,p.cardPara3,p.cardPara4 {
            padding-right: 30px;
        }
    }
    
    
/*--------RESPONSIVE OF MOBILE SMALL---------*/ 
    @media only screen and (max-width:321px){
        .cards1 {
            width: 100%;
            margin-left: 50px;
        }
        h1.cardMainHead {
            margin-left: 0px;
        }
    }
    
    