@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#mishanafirstsection.uk-card.uk-card-default.uk-grid-collapse.uk-child-width-1-2{
    width: 50% !important;
    }
    #mishanafirstt.uk-card-media-left.uk-cover-container{
      height: 50% !important;
      width: 50%!important;
      vertical-align: middle!important;
      background-position: 50% 50%!important;
      flex-direction: column!important;
      transform: translate(100px,100px)!important;
      padding-right: 15px!important;
     
    }
    #mishanasecondd.uk-card-body{
      transform: translate(670px,-100px)!important;
      width: 90%!important;
     
    }
    .uk-card-default.uk-card-title {
        color: #0E314C!important;
       
    }
    #mishanathirdd.uk-card-title{
        padding-top: 50px!important;
        font-size: 35px!important;
        transform: translate(180px,-300px)!important;
        width: 50% !important ;
        font-family: 'Poppins', sans-serif!important;
        font-weight: 650!important;
    }
    .para-one {
        transform: translate(100px,-300px);
      color: #4A6F8A;
      font-family: 'Poppins', sans-serif;
      width: 80%;
      font-size: 14px;
      text-align: justify !important;
      line-height: 1.9;
    }
    
    #mishanafirstsection .uk-card-default {
        box-shadow: none !important;
    }



/*--------  RESPONSIVE SECTION --------*/

 /*Laptop view  */
@media screen and (max-width:1025px) {
    #mishanafirstt.uk-card-media-left.uk-cover-container{
        height: 40% !important;
        width: 45%!important; 
        transform: translate(20px,150px)!important ;
    }
    #mishanathirdd.uk-card-title {
       width: 70% !important;
       transform: translate(-170px,-280px) !important;
       font-size: 30px!important;
    }
    .para-one {
        transform: translate(-200px,-280px)!important;
        width: 82%!important;
        
    }
}


/*  Tab view  */
@media screen and (max-width:769px) {
    .para-one {
        width: 120% !important;
        transform: translate(-300px,-200px) !important;
        font-size: 13px!important;
        line-height: 1.7!important;
    }
    #mishanafirstt.uk-card-media-left.uk-cover-container {
        padding-top: 90px !important;
        width: 50% !important;
    }
    #mishanathirdd.uk-card-title {
        width: 100% !important;
        transform: translate(-274px,-199px) !important
    }
    
}


/*  Mobile view  Large */
@media screen and (max-width:426px) {
    #mishanathirdd.uk-card-title {
        transform: translate(-644px,-366px) !important;
    }
    .para-one {
        transform: translate(-660px,-356px) !important;
        width: 106% !important;
        font-size: 14px!important;
    }
    #mishanafirstt.uk-card-media-left.uk-cover-container {
        transform: translate(9px,289px) !important;
        width: 96% !important;
    }
}



/*  Mobile view  Medium  */
@media screen and (max-width:376px) {
    .para-one {
        width: 118% !important;
    }
    #mishanathirdd.uk-card-title {
        transform: translate(-632px,-366px) !important;
    }
    #mishanafirstt.uk-card-media-left.uk-cover-container {
        width: 103% !important;
    }
}




/*  Mobile view  Small  */
@media screen and (max-width:321px) {
    #mishanathirdd.uk-card-title {
        transform: translate(-624px,-344px) !important;
    }
    .para-one {
        width: 141% !important;
        transform: translate(-669px,-339px) !important;
    }
    #mishanafirstt.uk-card-media-left.uk-cover-container {
        width: 115% !important;
    }
}


