@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.section5 {
    transform: translate(10px, -353px);
    background-image: url('https://www.inmakes.com/assets/img/map.png') !important;
    max-width: 100%;
    width: 100% !important;
    height: 100% !important; 
}
.css-15y4xrm  {
    padding: 400px 400px 400px 477px !important;
    margin-left: -50px !important;
}
.section5head {
    color: #0E314C !important;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.section5para {
    color: #4A6F8A;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.button1 {
    position: relative;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #23BDB8;
    padding: 1em 2em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
  }
  .button1 span {
    position: relative;
    pointer-events: none;
  }
  


/*--------------- RESPONSIVE SECTION----------------*/
 
   /* ------- RESPONSIVE OF LAP  ------*/
   @media only screen and (max-width:1025px){
           body{
            overflow-x: hidden !important;
           }
          .section5 {
            padding-right: 155px;
            
          }
   }


   /*-------- RESPONSIVE OF TAB --------*/
@media only screen and (max-width:769px){
          .section5 {
            margin-left: 80px;
          }
}


/*---------RESPONSIVE OF MOBILE LARGE----------*/
@media only screen and (max-width:426px){
         .section5head {
            width: 104%;
           transform: translateX(-15px);
         }
         .section5para {
            width: 102%;
            transform: translateX(-13px)
         }
         .button1 {
            margin-left: -20px;
         }
}


 /*--------RESPONSIVE OF MOBILE MEDIUM---------*/   
 @media only screen and (max-width:376px){
        .section5head {
            width: 127%;
            margin-left: -10px;
        }
        .section5para {
            width: 125%;
            margin-left: -10px;
        }
        .button1 {
            margin-left: 10px;
        }
 }


/*--------RESPONSIVE OF MOBILE SMALL---------*/ 
@media only screen and (max-width:321px){
    .section5head {
        width: 170%;
        margin-left: -20px;
    }
    .section5para {
        width: 166%;
        margin-left: -20px;
    }
    .button1 {
        width: 106%;
        margin-left: 19px;
    }
}

