@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media only screen and (max-width:1024px){
    .origConsultant{
        display: none  !important ;
    }
    .dupConsultant{
        display: block  !important ;
    }
 }
 .dupConsultant{
    margin-top: 150px;
 }
 @media only screen and (min-width:1025px){
    .dupConsultant{
        display: none  !important ;
    }
    .origConsultant{
        display: block  !important ;
    }
 }
 .ConsultantdetBox{
    height: 750px !important;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px; 
 }
 .consultantTab{
    width: 250px;
    padding-top: 170px !important;
    margin-left: -120px;  
 }
 .consultantDash{ 
    align-self:flex-start  !important;
    text-transform: capitalize !important;
    padding-left: 70px !important;  
    padding-right: 100px !important; 
    font-size: 14px !important;
    font-weight: 650 !important;
    margin-left: -20px !important; 
 }
 .consultantAppt{
    align-self:flex-start !important;
    text-transform: capitalize !important;
    padding-left: 70px !important;  
    padding-right: 90px !important; 
    font-size: 14px !important;
    font-weight: 650 !important;
    margin-left: -15px !important; 
 }
 .consultantHis{
    align-self:flex-start !important;
    text-transform: capitalize !important;
    padding-left: 70px !important;  
    padding-right: 130px !important; 
    font-size: 14px !important;
    font-weight: 650 !important;
    margin-left: -15px !important; 
 }
 .consultantProf{
    align-self:flex-start !important;
    text-transform: capitalize !important;
    padding-left: 70px !important;  
    padding-right: 130px !important; 
    font-size: 14px !important;
    font-weight: 650 !important;
    margin-left: -16px !important; 
 }
 button.consultantOut{
    align-self:flex-start !important;
    text-transform: capitalize !important;
    padding-left: 70px !important;  
    padding-right: 130px !important; 
    font-size: 14px !important;
    font-weight: 650 !important;
    margin-left: 8px !important; 
    border: none !important;
    background-color: white !important;
    margin-top: 20px;
    cursor: pointer;
 }
 button.consultantOut:focus{
    background-color: white !important; 
 }
 button.consultantOut:active{
    background-color: white !important; 
 }
 button.consultantOut:hover{ 
    color: #23BDB8 !important;
 }
 img.ConsultantTabImage{ 
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left: 50px;
    margin-top: 50px;
 }
 .ConsultantTabPanel1{
    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
   background-repeat: no-repeat; 
   background-size: cover;
    /* background-color: #F5FFFA; */
    /* background-image:   linear-gradient( to right,#F5FFFA 1%,#a2e4c3,#7de6b1,#85ebe8, #80e7e4 , #45c9c5    ); */
    width:1250px ;
    height: 750px;
    /* background:linear-gradient(to right, #23BDB8, #8EE7BA) */
 }
 .ConsultantTabPanel2{
    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
    background-repeat: no-repeat; 
    background-size: cover; 
    width:1250px ;
 }
 .ConsultantTabPanel3{
    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
    background-repeat: no-repeat; 
    background-size: cover; 
    width:1250px ;
 }
 .ConsultantTabPanel4{
    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
   background-repeat: no-repeat; 
   background-size: cover;
   width:1250px ;
 }
 .ConsultantTabPanel5{
    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
   background-repeat: no-repeat; 
   background-size: cover;
   width:1250px ;
 }
 .consultantIcon1{   
    color: #23BDB8 !important; 
    margin-top: -5px;
    
 }
 .consultantIcon2{   
    color: #23BDB8 !important; 
    margin-top: -5px;
 }
 .consultantIcon3{   
    color: #23BDB8 !important; 
    margin-top: -5px;
 }
 .consultantIcon4{   
    color: #23BDB8 !important; 
    margin-top: -5px;
 }
 .consultantIcon5{   
    color: #23BDB8 !important;  
    position: absolute;
    margin-left: -30px;
    margin-top: -5px;
 }
 button.ConsultantCancel{
    background-color: red;
 }
 .consultantCard1{
    width: 350px; 
    height: 250px;
    margin-left: 20px; 
 }
 .consultantCard2{
    width: 350px;
    height: 250px;
    margin-left: 20px; 
 }
 .consultantCard3{
    width: 350px;
    height: 250px;
    margin-left: 20px; 
 }
 .consultantCard4{
    width: 745px;
    margin-top: 40px;
    margin-left: 20px;
    height: 410px; 
 }
 .consultantCard5{
    width: 350px;
    margin-top: 40px;
    margin-left: 220px;
    height: 410px;  
 }
 .consultantGraph1{
    height: 230px;
 }
 .consultantGraph2{
    height: 210px;
 }
 .consultantGraph3{
    height: 200px;
 }
 .consultantGraph4{
    width:500px !important;
    height: 300px  ;
    margin-left: 115px;
    margin-top: 55px;
 }
 .consultantGraph5{ 
    width:360px !important;
    height: 250px  ; 
    margin-top: 70px;  
 }
 .consultantHeadGraph1{
    margin-top: -30px !important;
    text-align: left;
    margin-left: 5px !important;
    color: #4a6f8a;
    font-size: 20px !important;
 }
 
 .consultantHeadGraph2{
    margin-top: -10px !important;
    text-align: left;
    margin-left: 5px !important;
    color: #4a6f8a;
    font-size: 20px !important;
 }
 .consultantHeadGraph3{
    margin-top: 0px !important;
    text-align: left;
    margin-left: 5px !important;
    color: #4a6f8a;
    font-size: 20px !important;
 }

 @media only screen and (max-width:1920px) and (min-width:1601px){
    .ConsultantdetBox{
        height: 1400px !important;
        font-family: 'Poppins', sans-serif;
        margin-top: 100px; 
     }
     .consultantTab{
        width: 350px;
        padding-top: 170px !important;
        margin-left: -120px;  
     }
     .consultantDash{ 
        align-self:flex-start  !important;
        text-transform: capitalize !important;
        padding-left: 70px !important;  
        padding-right: 180px !important; 
        font-size: 18px !important;
        font-weight: 650 !important;
        margin-left:    0px !important; 
     }
     .consultantAppt{
        margin-top: 30px !important;
        align-self:flex-start !important;
        text-transform: capitalize !important;
        padding-left: 70px !important;  
        padding-right: 180px !important; 
        font-size: 18px !important;
        font-weight: 650 !important;
        margin-left: 5px !important; 
     }
     .consultantHis{
        margin-top: 30px !important;
        align-self:flex-start !important;
        text-transform: capitalize !important;
        padding-left: 80px !important;  
        padding-right: 200px !important; 
        font-size: 18px !important;
        font-weight: 650 !important;
        margin-left: -15px !important; 
     }
     .consultantProf{
        margin-top: 30px !important;
        align-self:flex-start !important;
        text-transform: capitalize !important;
        padding-left: 80px !important;  
        padding-right: 200px !important; 
        font-size: 18px !important;
        font-weight: 650 !important;
        margin-left: -15px !important; 
     }
     button.consultantOut{
        align-self:flex-start !important;
        text-transform: capitalize !important;  
        font-size: 18px !important;
        font-weight: 650 !important;
        margin-left: 20px !important; 
        border: none !important;
        background-color: white !important;
        margin-top: 50px;
        cursor: pointer;
     }
     button.consultantOut:focus{
        background-color: white !important; 
     }
     button.consultantOut:active{
        background-color: white !important; 
     }
     button.consultantOut:hover{ 
        color: #23BDB8 !important;
     }
     img.ConsultantTabImage{ 
        border-radius: 50%;
        height: 70px;
        width: 70px;
        margin-left: 50px;
        margin-top: 50px;
     }
     .ConsultantTabPanel1{
        background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
       background-repeat: no-repeat; 
       background-size: cover;
         width:1570px ;
        height: 1400px;
      }
     .ConsultantTabPanel2{
        background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
        background-repeat: no-repeat; 
        background-size: cover; 
        width:1570px ;
        height: 1400px;
     }
     .ConsultantTabPanel3{
        background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
        background-repeat: no-repeat; 
        background-size: cover; 
        width:1570px ;
        height: 1400px;
     }
     .ConsultantTabPanel4{
        background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
       background-repeat: no-repeat; 
       background-size: cover;
       width:1570px ;
       height: 1400px;
     }
     .ConsultantTabPanel5{
        background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
       background-repeat: no-repeat; 
       background-size: cover;
       width:1570px ;
       height: 1400px;
     }
     .consultantIcon1{   
        color: #23BDB8 !important; 
        margin-top: -5px;
        
     }
     .consultantIcon2{   
        color: #23BDB8 !important; 
        margin-top: -5px;
     }
     .consultantIcon3{   
        color: #23BDB8 !important; 
        margin-top: -5px;
     }
     .consultantIcon4{   
        color: #23BDB8 !important; 
        margin-top: -5px;
     }
     .consultantIcon5{   
        color: #23BDB8 !important;  
        position: absolute;
        margin-left: -30px;
        margin-top: -5px;
     }
     button.ConsultantCancel{
        background-color: red;
     }
     .consultantCard1{
        width: 450px; 
        height: 350px;
        margin-left: 20px; 
        margin-top: 150px;
     }
     .consultantCard2{
        width: 450px;
        height: 350px;
        margin-left: 20px; 
        margin-top: 150px;
     }
     .consultantCard3{
        width: 450px;
        height: 350px;
        margin-left: 20px; 
        margin-top: 150px;
     }
     .consultantCard4{
        width: 950px;
        margin-top: 100px;
        margin-left: 20px;
        height: 610px; 
     }
     .consultantCard5{
        width: 440px;
        margin-top: 100px;
        margin-left: 280px;
        height: 610px;  
     }
     .consultantGraph1{
        height: 330px;
     }
     .consultantGraph2{
        height: 310px;
     }
     .consultantGraph3{
        height: 300px;
     }
     .consultantGraph4{
        width:750px !important;
        height: 500px  ;
        margin-left: 115px;
        margin-top: 55px;
     }
     .consultantGraph5{ 
        width:400px !important;
        height: 400px  ; 
        margin-top: 80px;  
        margin-left: 20px;
     }
     .consultantHeadGraph1{
        margin-top: -30px !important;
        text-align: left;
        margin-left: 5px !important;
        color: #4a6f8a;
        font-size: 20px !important;
     }
     
     .consultantHeadGraph2{
        margin-top: -10px !important;
        text-align: left;
        margin-left: 5px !important;
        color: #4a6f8a;
        font-size: 20px !important;
     }
     .consultantHeadGraph3{
        margin-top: 0px !important;
        text-align: left;
        margin-left: 5px !important;
        color: #4a6f8a;
        font-size: 20px !important;
     }
 }

 @media only screen and (max-width:1600px) and (min-width:1537px){
   
    .ConsultantdetBox{
        height: 1331px !important;
        font-family: 'Poppins', sans-serif;
        margin-top: 100px; 
     }
     .consultantTab{
        width: 350px;
        padding-top: 170px !important;
        margin-left: -120px;  
     }
     .consultantDash{ 
        align-self:flex-start  !important;
        text-transform: capitalize !important;
        padding-left: 70px !important;  
        padding-right: 180px !important; 
        font-size: 18px !important;
        font-weight: 650 !important;
        margin-left:    0px !important; 
     }
     .consultantAppt{
        margin-top: 30px !important;
        align-self:flex-start !important;
        text-transform: capitalize !important;
        padding-left: 70px !important;  
        padding-right: 180px !important; 
        font-size: 18px !important;
        font-weight: 650 !important;
        margin-left: 5px !important; 
     }
     .consultantHis{
        margin-top: 30px !important;
        align-self:flex-start !important;
        text-transform: capitalize !important;
        padding-left: 80px !important;  
        padding-right: 200px !important; 
        font-size: 18px !important;
        font-weight: 650 !important;
        margin-left: -15px !important; 
     }
     .consultantProf{
        margin-top: 30px !important;
        align-self:flex-start !important;
        text-transform: capitalize !important;
        padding-left: 80px !important;  
        padding-right: 200px !important; 
        font-size: 18px !important;
        font-weight: 650 !important;
        margin-left: -15px !important; 
     }
     button.consultantOut{
        align-self:flex-start !important;
        text-transform: capitalize !important;  
        font-size: 18px !important;
        font-weight: 650 !important;
        margin-left: 18px !important; 
        border: none !important;
        background-color: white !important;
        margin-top: 50px;
        cursor: pointer;
     }
     button.consultantOut:focus{
        background-color: white !important; 
     }
     button.consultantOut:active{
        background-color: white !important; 
     }
     button.consultantOut:hover{ 
        color: #23BDB8 !important;
     }
     img.ConsultantTabImage{ 
        border-radius: 50%;
        height: 70px;
        width: 70px;
        margin-left: 50px;
        margin-top: 50px;
     }
     .ConsultantTabPanel1{
        background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
       background-repeat: no-repeat; 
       background-size: cover;
         width:1250px ;
        height: 1331px;
      }
     .ConsultantTabPanel2{
        background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
        background-repeat: no-repeat; 
        background-size: cover; 
        width:1250px ;
        height: 1331px;
     }
     .ConsultantTabPanel3{
        background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
        background-repeat: no-repeat; 
        background-size: cover; 
        width:1250px ;
        height: 1331px;
     }
     .ConsultantTabPanel4{
        background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
       background-repeat: no-repeat; 
       background-size: cover;
       width:1250px ;
       height: 1331px;
     }
     .ConsultantTabPanel5{
        background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
       background-repeat: no-repeat; 
       background-size: cover;
       width:1250px ;
       height: 1331px;
     }
     .consultantIcon1{   
        color: #23BDB8 !important; 
        margin-top: -5px;
        
     }
     .consultantIcon2{   
        color: #23BDB8 !important; 
        margin-top: -5px;
     }
     .consultantIcon3{   
        color: #23BDB8 !important; 
        margin-top: -5px;
     }
     .consultantIcon4{   
        color: #23BDB8 !important; 
        margin-top: -5px;
     }
     .consultantIcon5{   
        color: #23BDB8 !important;  
        position: absolute;
        margin-left: -30px;
        margin-top: -5px;
     }
     button.ConsultantCancel{
        background-color: red;
     }
     .consultantCard1{
        width: 370px; 
        height: 350px;
        margin-left: 20px; 
        margin-top: 100px;
     }
     .consultantCard2{
        width: 370px;
        height: 350px;
        margin-left: 20px; 
        margin-top: 100px;
     }
     .consultantCard3{
        width: 370px;
        height: 350px;
        margin-left: 20px; 
        margin-top: 100px;
     }
     .consultantCard4{
        width: 770px;
        margin-top: 100px;
        margin-left: 20px;
        height: 610px; 
     }
     .consultantCard5{
        width: 370px;
        margin-top: 100px;
        margin-left: 220px;
        height: 610px;  
     }
     .consultantGraph1{
        height: 330px;
     }
     .consultantGraph2{
        height: 310px;
     }
     .consultantGraph3{
        height: 300px;
     }
     .consultantGraph4{
        width:650px !important;
        height: 400px  ;
        margin-left: 60px;
        margin-top: 90px;
     }
     .consultantGraph5{ 
        width:400px !important;
        height: 400px  ; 
        margin-top: 80px;  
        margin-left: 0px;
     }
     .consultantHeadGraph1{
        margin-top: -30px !important;
        text-align: left;
        margin-left: 5px !important;
        color: #4a6f8a;
        font-size: 20px !important;
     }
     
     .consultantHeadGraph2{
        margin-top: -10px !important;
        text-align: left;
        margin-left: 5px !important;
        color: #4a6f8a;
        font-size: 20px !important;
     }
     .consultantHeadGraph3{
        margin-top: 0px !important;
        text-align: left;
        margin-left: 5px !important;
        color: #4a6f8a;
        font-size: 20px !important;
     }
    }

    @media only screen and (max-width:1536px) and (min-width:1489px){
   
        .ConsultantdetBox{
            height: 1305px !important;
            font-family: 'Poppins', sans-serif;
            margin-top: 100px; 
         }
         .consultantTab{
            width: 320px;
            padding-top: 170px !important;
            margin-left: -120px;  
         }
         .consultantDash{ 
            align-self:flex-start  !important;
            text-transform: capitalize !important;
            padding-left: 70px !important;  
            padding-right: 180px !important; 
            font-size: 18px !important;
            font-weight: 650 !important;
            margin-left:    0px !important; 
         }
         .consultantAppt{
            margin-top: 30px !important;
            align-self:flex-start !important;
            text-transform: capitalize !important;
            padding-left: 70px !important;  
            padding-right: 180px !important; 
            font-size: 18px !important;
            font-weight: 650 !important;
            margin-left: 10px !important; 
         }
         .consultantHis{
            margin-top: 30px !important;
            align-self:flex-start !important;
            text-transform: capitalize !important;
            padding-left: 80px !important;  
            padding-right: 200px !important; 
            font-size: 18px !important;
            font-weight: 650 !important;
            margin-left: -10px !important; 
         }
         .consultantProf{
            margin-top: 30px !important;
            align-self:flex-start !important;
            text-transform: capitalize !important;
            padding-left: 80px !important;  
            padding-right: 200px !important; 
            font-size: 18px !important;
            font-weight: 650 !important;
            margin-left: -10px !important; 
         }
         button.consultantOut{
            align-self:flex-start !important;
            text-transform: capitalize !important;  
            font-size: 18px !important;
            font-weight: 650 !important;
            margin-left: 20px !important; 
            border: none !important;
            background-color: white !important;
            margin-top: 50px;
            cursor: pointer;
         }
         button.consultantOut:focus{
            background-color: white !important; 
         }
         button.consultantOut:active{
            background-color: white !important; 
         }
         button.consultantOut:hover{ 
            color: #23BDB8 !important;
         }
         img.ConsultantTabImage{ 
            border-radius: 50%;
            height: 70px;
            width: 70px;
            margin-left: 50px;
            margin-top: 50px;
         }
         .ConsultantTabPanel1{
            background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
           background-repeat: no-repeat; 
           background-size: cover;
             width:1220px ;
            height: 1305px;
          }
         .ConsultantTabPanel2{
            background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
            background-repeat: no-repeat; 
            background-size: cover; 
            width:1220px ;
            height: 1305px;
         }
         .ConsultantTabPanel3{
            background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
            background-repeat: no-repeat; 
            background-size: cover; 
            width:1220px ;
            height: 1305px;
         }
         .ConsultantTabPanel4{
            background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
           background-repeat: no-repeat; 
           background-size: cover;
           width:1220px ;
           height: 1305px;
         }
         .ConsultantTabPanel5{
            background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
           background-repeat: no-repeat; 
           background-size: cover;
           width:1220px ;
           height: 1305px;  
         }
         .consultantIcon1{   
            color: #23BDB8 !important; 
            margin-top: -5px;
            
         }
         .consultantIcon2{   
            color: #23BDB8 !important; 
            margin-top: -5px;
         }
         .consultantIcon3{   
            color: #23BDB8 !important; 
            margin-top: -5px;
         }
         .consultantIcon4{   
            color: #23BDB8 !important; 
            margin-top: -5px;
         }
         .consultantIcon5{   
            color: #23BDB8 !important;  
            position: absolute;
            margin-left: -30px;
            margin-top: -5px;
         }
         button.ConsultantCancel{
            background-color: red;
         }
         .consultantCard1{
            width: 370px; 
            height: 350px;
            margin-left: 10px; 
            margin-top: 100px;
         }
         .consultantCard2{
            width: 370px;
            height: 350px;
            margin-left: 10px; 
            margin-top: 100px;
         }
         .consultantCard3{
            width: 370px;
            height: 350px;
            margin-left: 10px; 
            margin-top: 100px;
         }
         .consultantCard4{
            width: 765px;
            margin-top: 70px;
            margin-left: 10px;
            height: 610px; 
         }
         .consultantCard5{
            width: 370px;
            margin-top: 70px;
            margin-left: 210px;
            height: 610px;  
         }
         .consultantGraph1{
            height: 330px;
         }
         .consultantGraph2{
            height: 310px;
         }
         .consultantGraph3{
            height: 300px;
         }
         .consultantGraph4{
            width:650px !important;
            height: 400px  ;
            margin-left: 60px;
            margin-top: 90px;
         }
         .consultantGraph5{ 
            width:400px !important;
            height: 400px  ; 
            margin-top: 80px;  
            margin-left: 0px;
         }
         .consultantHeadGraph1{
            margin-top: -30px !important;
            text-align: left;
            margin-left: 5px !important;
            color: #4a6f8a;
            font-size: 20px !important;
         }
         
         .consultantHeadGraph2{
            margin-top: -10px !important;
            text-align: left;
            margin-left: 5px !important;
            color: #4a6f8a;
            font-size: 20px !important;
         }
         .consultantHeadGraph3{
            margin-top: 0px !important;
            text-align: left;
            margin-left: 5px !important;
            color: #4a6f8a;
            font-size: 20px !important;
         }
        }

        
    @media only screen and (max-width:1487px) and (min-width:1441px){
   
        .ConsultantdetBox{
            height: 1305px !important;
            font-family: 'Poppins', sans-serif;
            margin-top: 100px; 
         }
         .consultantTab{
            width: 320px;
            padding-top: 170px !important;
            margin-left: -120px;  
         }
         .consultantDash{ 
            align-self:flex-start  !important;
            text-transform: capitalize !important;
            padding-left: 70px !important;  
            padding-right: 180px !important; 
            font-size: 18px !important;
            font-weight: 650 !important;
            margin-left:    0px !important; 
         }
         .consultantAppt{
            margin-top: 30px !important;
            align-self:flex-start !important;
            text-transform: capitalize !important;
            padding-left: 70px !important;  
            padding-right: 180px !important; 
            font-size: 18px !important;
            font-weight: 650 !important;
            margin-left: 10px !important; 
         }
         .consultantHis{
            margin-top: 30px !important;
            align-self:flex-start !important;
            text-transform: capitalize !important;
            padding-left: 80px !important;  
            padding-right: 200px !important; 
            font-size: 18px !important;
            font-weight: 650 !important;
            margin-left: -10px !important; 
         }
         .consultantProf{
            margin-top: 30px !important;
            align-self:flex-start !important;
            text-transform: capitalize !important;
            padding-left: 80px !important;  
            padding-right: 200px !important; 
            font-size: 18px !important;
            font-weight: 650 !important;
            margin-left: -10px !important; 
         }
         button.consultantOut{
            align-self:flex-start !important;
            text-transform: capitalize !important;  
            font-size: 18px !important;
            font-weight: 650 !important;
            margin-left: 20px !important; 
            border: none !important;
            background-color: white !important;
            margin-top: 50px;
            cursor: pointer;
         }
         button.consultantOut:focus{
            background-color: white !important; 
         }
         button.consultantOut:active{
            background-color: white !important; 
         }
         button.consultantOut:hover{ 
            color: #23BDB8 !important;
         }
         img.ConsultantTabImage{ 
            border-radius: 50%;
            height: 70px;
            width: 70px;
            margin-left: 50px;
            margin-top: 50px;
         }
         .ConsultantTabPanel1{
            background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
           background-repeat: no-repeat; 
           background-size: cover;
             width:1220px ;
            height: 1305px;
          }
         .ConsultantTabPanel2{
            background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
            background-repeat: no-repeat; 
            background-size: cover; 
            width:1220px ;
            height: 1305px;
         }
         .ConsultantTabPanel3{
            background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
            background-repeat: no-repeat; 
            background-size: cover; 
            width:1220px ;
            height: 1305px;
         }
         .ConsultantTabPanel4{
            background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
           background-repeat: no-repeat; 
           background-size: cover;
           width:1220px ;
           height: 1305px;
         }
         .ConsultantTabPanel5{
            background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
           background-repeat: no-repeat; 
           background-size: cover;
           width:1220px ;
           height: 1305px;
         }
         .consultantIcon1{   
            color: #23BDB8 !important; 
            margin-top: -5px;
            
         }
         .consultantIcon2{   
            color: #23BDB8 !important; 
            margin-top: -5px;
         }
         .consultantIcon3{   
            color: #23BDB8 !important; 
            margin-top: -5px;
         }
         .consultantIcon4{   
            color: #23BDB8 !important; 
            margin-top: -5px;
         }
         .consultantIcon5{   
            color: #23BDB8 !important;  
            position: absolute;
            margin-left: -30px;
            margin-top: -5px;
         }
         button.ConsultantCancel{
            background-color: red;
         }
         .consultantCard1{
            width: 370px; 
            height: 350px;
            margin-left: 10px; 
            margin-top: 100px;
         }
         .consultantCard2{
            width: 370px;
            height: 350px;
            margin-left: 10px; 
            margin-top: 100px;
         }
         .consultantCard3{
            width: 370px;
            height: 350px;
            margin-left: 10px; 
            margin-top: 100px;
         }
         .consultantCard4{
            width: 765px;
            margin-top: 70px;
            margin-left: 10px;
            height: 610px; 
         }
         .consultantCard5{
            width: 370px;
            margin-top: 70px;
            margin-left: 210px;
            height: 610px;  
         }
         .consultantGraph1{
            height: 330px;
         }
         .consultantGraph2{
            height: 310px;
         }
         .consultantGraph3{
            height: 300px;
         }
         .consultantGraph4{
            width:650px !important;
            height: 400px  ;
            margin-left: 60px;
            margin-top: 90px;
         }
         .consultantGraph5{ 
            width:400px !important;
            height: 400px  ; 
            margin-top: 80px;  
            margin-left: 0px;
         }
         .consultantHeadGraph1{
            margin-top: -30px !important;
            text-align: left;
            margin-left: 5px !important;
            color: #4a6f8a;
            font-size: 20px !important;
         }
         
         .consultantHeadGraph2{
            margin-top: -10px !important;
            text-align: left;
            margin-left: 5px !important;
            color: #4a6f8a;
            font-size: 20px !important;
         }
         .consultantHeadGraph3{
            margin-top: 0px !important;
            text-align: left;
            margin-left: 5px !important;
            color: #4a6f8a;
            font-size: 20px !important;
         }
        }
        @media only screen and (max-width:1440px) and (min-width:1368px){
   
            .ConsultantdetBox{
                height: 1305px !important;
                font-family: 'Poppins', sans-serif;
                margin-top: 100px; 
             }
             .consultantTab{
                width: 320px;
                padding-top: 170px !important;
                margin-left: -120px;  
             }
             .consultantDash{ 
                align-self:flex-start  !important;
                text-transform: capitalize !important;
                padding-left: 70px !important;  
                padding-right: 180px !important; 
                font-size: 18px !important;
                font-weight: 650 !important;
                margin-left:    0px !important; 
             }
             .consultantAppt{
                margin-top: 30px !important;
                align-self:flex-start !important;
                text-transform: capitalize !important;
                padding-left: 70px !important;  
                padding-right: 180px !important; 
                font-size: 18px !important;
                font-weight: 650 !important;
                margin-left: 10px !important; 
             }
             .consultantHis{
                margin-top: 30px !important;
                align-self:flex-start !important;
                text-transform: capitalize !important;
                padding-left: 80px !important;  
                padding-right: 200px !important; 
                font-size: 18px !important;
                font-weight: 650 !important;
                margin-left: -10px !important; 
             }
             .consultantProf{
                margin-top: 30px !important;
                align-self:flex-start !important;
                text-transform: capitalize !important;
                padding-left: 80px !important;  
                padding-right: 200px !important; 
                font-size: 18px !important;
                font-weight: 650 !important;
                margin-left: -10px !important; 
             }
             button.consultantOut{
                align-self:flex-start !important;
                text-transform: capitalize !important;  
                font-size: 18px !important;
                font-weight: 650 !important;
                margin-left: 20px !important; 
                border: none !important;
                background-color: white !important;
                margin-top: 50px;
                cursor: pointer;
             }
             button.consultantOut:focus{
                background-color: white !important; 
             }
             button.consultantOut:active{
                background-color: white !important; 
             }
             button.consultantOut:hover{ 
                color: #23BDB8 !important;
             }
             img.ConsultantTabImage{ 
                border-radius: 50%;
                height: 70px;
                width: 70px;
                margin-left: 50px;
                margin-top: 50px;
             }
             .ConsultantTabPanel1{
                background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
               background-repeat: no-repeat; 
               background-size: cover;
                 width:1120px ;
                height: 1305px;
                 }
             .ConsultantTabPanel2{
                background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
                background-repeat: no-repeat; 
                background-size: cover; 
                width:1120px ;
                height: 1305px;
             }
             .ConsultantTabPanel3{
                background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
                background-repeat: no-repeat; 
                background-size: cover; 
                width:1120px ;
                height: 1305px;
             }
             .ConsultantTabPanel4{
                background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
               background-repeat: no-repeat; 
               background-size: cover;
               width:1120px ;
               height: 1305px;
             }
             .ConsultantTabPanel5{
                background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
               background-repeat: no-repeat; 
               background-size: cover;
               width:1120px ;
               height: 1305px;  
             }
             .consultantIcon1{   
                color: #23BDB8 !important; 
                margin-top: -5px;
                
             }
             .consultantIcon2{   
                color: #23BDB8 !important; 
                margin-top: -5px;
             }
             .consultantIcon3{   
                color: #23BDB8 !important; 
                margin-top: -5px;
             }
             .consultantIcon4{   
                color: #23BDB8 !important; 
                margin-top: -5px;
             }
             .consultantIcon5{   
                color: #23BDB8 !important;  
                position: absolute;
                margin-left: -30px;
                margin-top: -5px;
             }
             button.ConsultantCancel{
                background-color: red;
             }
             .consultantCard1{
                width: 350px; 
                height: 350px;
                margin-left: -10px; 
                margin-top: 100px;
             }
             .consultantCard2{
                width: 350px;
                height: 350px;
                margin-left: 0px; 
                margin-top: 100px;
             }
             .consultantCard3{
                width: 350px;
                height: 350px;
                margin-left: 10px; 
                margin-top: 100px;
             }
             .consultantCard4{
                width: 720px;
                margin-top: 70px;
                margin-left: -10px;
                height: 610px; 
             }
             .consultantCard5{
                width: 350px;
                margin-top: 70px;
                margin-left: 190px;
                height: 610px;  
             }
             .consultantGraph1{
                height: 330px;
             }
             .consultantGraph2{
                height: 310px;
             }
             .consultantGraph3{
                height: 300px;
             }
             .consultantGraph4{
                width:650px !important;
                height: 400px  ;
                margin-left: 35px;
                margin-top: 90px;
             }
             .consultantGraph5{ 
                width:400px !important;
                height: 400px  ; 
                margin-top: 80px;  
                margin-left: 0px;
             }
             .consultantHeadGraph1{
                margin-top: -30px !important;
                text-align: left;
                margin-left: 5px !important;
                color: #4a6f8a;
                font-size: 20px !important;
             }
             
             .consultantHeadGraph2{
                margin-top: -10px !important;
                text-align: left;
                margin-left: 5px !important;
                color: #4a6f8a;
                font-size: 20px !important;
             }
             .consultantHeadGraph3{
                margin-top: 0px !important;
                text-align: left;
                margin-left: 5px !important;
                color: #4a6f8a;
                font-size: 20px !important;
             }
            }
            @media only screen and (max-width:1367px) and (min-width:1281px){
   
                .ConsultantdetBox{
                    height: 1200px !important;
                    font-family: 'Poppins', sans-serif;
                    margin-top: 100px; 
                 }
                 .consultantTab{
                    width: 350px;
                    padding-top: 170px !important;
                    margin-left: -120px;  
                 }
                 .consultantDash{ 
                    align-self:flex-start  !important;
                    text-transform: capitalize !important;
                    padding-left: 50px !important;  
                    padding-right: 150px !important; 
                    font-size: 23px !important;
                    font-weight: 650 !important;
                    margin-left:    0px !important; 
                 }
                 .consultantAppt{
                    margin-top: 30px !important;
                    align-self:flex-start !important;
                    text-transform: capitalize !important;
                    padding-left: 50px !important;  
                    padding-right: 150px !important; 
                    font-size: 23px !important;
                    font-weight: 650 !important;
                    margin-left: 10px !important; 
                 }
                 .consultantHis{
                    margin-top: 30px !important;
                    align-self:flex-start !important;
                    text-transform: capitalize !important;
                    padding-left: 50px !important;  
                    padding-right: 180px !important;  
                    font-size: 23px !important;
                    font-weight: 650 !important;
                    margin-left: 0px !important; 
                 }
                 .consultantProf{
                    margin-top: 30px !important;
                    align-self:flex-start !important;
                    text-transform: capitalize !important;
                    padding-left: 50px !important;  
                    padding-right: 180px !important; 
                    font-size: 23px !important;
                    font-weight: 650 !important;
                    margin-left: 0px !important; 
                 }
                 button.consultantOut{
                    align-self:flex-start !important;
                    text-transform: capitalize !important;  
                    font-size: 23px !important;
                    font-weight: 650 !important;
                    margin-left: 10px !important; 
                    border: none !important;
                    background-color: white !important;
                    margin-top: 50px;
                    cursor: pointer;
                 }
                 button.consultantOut:focus{
                    background-color: white !important; 
                 }
                 button.consultantOut:active{
                    background-color: white !important; 
                 }
                 button.consultantOut:hover{ 
                    color: #23BDB8 !important;
                 }
                 img.ConsultantTabImage{ 
                    border-radius: 50%;
                    height: 70px;
                    width: 70px;
                    margin-left: 50px;
                    margin-top: 50px;
                 }
                 .ConsultantTabPanel1{
                    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
                   background-repeat: no-repeat; 
                   background-size: cover;
                     width:1050px ;
                    height: 1200px;
                  }
                 .ConsultantTabPanel2{
                    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
                    background-repeat: no-repeat; 
                    background-size: cover; 
                    width:1050px ;
                    height: 1200px;
                 }
                 .ConsultantTabPanel3{
                    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
                    background-repeat: no-repeat; 
                    background-size: cover; 
                    width:1050px ;
                    height: 1200px;
                 }
                 .ConsultantTabPanel4{
                    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
                   background-repeat: no-repeat; 
                   background-size: cover;
                   width:1050px ;
                   height: 1200px;
                 }
                 .ConsultantTabPanel5{
                    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
                   background-repeat: no-repeat; 
                   background-size: cover;
                   width:1050px ;
                   height: 1200px;
                 }
                 .consultantIcon1{   
                    color: #23BDB8 !important; 
                    margin-top: -5px;
                    font-size: 30px !important;
                    
                 }
                 .consultantIcon2{   
                    color: #23BDB8 !important; 
                    margin-top: -5px;
                    font-size: 30px !important;
                 }
                 .consultantIcon3{   
                    color: #23BDB8 !important; 
                    margin-top: -5px;
                    font-size: 30px !important;
                 }
                 .consultantIcon4{   
                    color: #23BDB8 !important; 
                    margin-top: -5px;
                    font-size: 30px !important;
                 }
                 .consultantIcon5{   
                    color: #23BDB8 !important;  
                    position: absolute;
                    margin-left: -30px;
                    margin-top: -5px;
                    font-size: 30px !important;
                 }
                 button.ConsultantCancel{
                    background-color: red;
                 }
                 .consultantCard1{
                    width: 320px; 
                    height: 350px;
                    margin-left: -10px; 
                    margin-top: 100px;
                 }
                 .consultantCard2{
                    width: 320px;
                    height: 350px;
                    margin-left: 0px; 
                    margin-top: 100px;
                 }
                 .consultantCard3{
                    width: 320px;
                    height: 350px;
                    margin-left: 10px; 
                    margin-top: 100px;
                 }
                 .consultantCard4{
                    width: 660px;
                    margin-top: 70px;
                    margin-left: -10px;
                    height: 510px; 
                 }
                 .consultantCard5{
                    width: 320px;
                    margin-top: 70px;
                    margin-left: 175px;
                    height: 510px;  
                 }
                 .consultantGraph1{
                    height: 330px;
                 }
                 .consultantGraph2{
                    height: 310px;
                 }
                 .consultantGraph3{
                    height: 300px;
                 }
                 .consultantGraph4{
                    width:650px !important;
                    height: 400px  ;
                    margin-left: 10px;
                    margin-top: 60px;
                 }
                 .consultantGraph5{ 
                    width:400px !important;
                    height: 400px  ; 
                    margin-top: 70px;  
                    margin-left: 0px;
                 }
                 .consultantHeadGraph1{
                    margin-top: -30px !important;
                    text-align: left;
                    margin-left: 5px !important;
                    color: #4a6f8a;
                    font-size: 20px !important;
                 }
                 
                 .consultantHeadGraph2{
                    margin-top: -10px !important;
                    text-align: left;
                    margin-left: 5px !important;
                    color: #4a6f8a;
                    font-size: 20px !important;
                 }
                 .consultantHeadGraph3{
                    margin-top: 0px !important;
                    text-align: left;
                    margin-left: 5px !important;
                    color: #4a6f8a;
                    font-size: 20px !important;
                 }
                }
/* **************************** */
.tableconsult{
    background-color: white;
    margin-top: 20px !important;
    
   
  } 
  .textappoin{
    font-size: 14px !important;
    font-weight: 650 !important;
    font-family: 'Poppins', sans-serif  !important ;
    color:#4A6F8A !important; 
  }
  .textappoinhead{
    font-size:18px;
    font-weight: 650;
    font-family: 'Poppins', sans-serif  !important ;
   
  }
  .table{
    margin-left: 0px;
    margin-top: 100px;
  }
  .imgconsultant{
    width:25px;
    height: 25px;
    border-radius: 120px;
  }
  .buttonconsult{
    
     position: relative;
     -webkit-appearance: none;
        -moz-appearance: none;
             appearance: none;
     background: #23BDB8;
     padding-left:40px;
     padding-right:40px;
     padding-top: 10px;
     padding-bottom: 10px;
     border: none;
     color: white;
     font-size: 1.2em;
     cursor: pointer;
     outline: none;
     overflow: hidden;
    border-radius: 5px;
   
  }
  @media screen and (max-width:1025px){

    .consaltant_table{
        margin-top: 50px;
        overflow-x: scroll !important;
    }
  }
  @media screen and (max-width:426px){
    .consaltant_table{
        overflow-x: scroll !important;
    }
    .consaltant_table{
        margin-top: 30px;
        overflow-x: scroll !important;
    }
  }