@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
    color: #4A6F8A !important;
}
/*----------------------------button------------------------------*/
.probutton {
   z-index: 10 !important;
    background: #23BDB8;

    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    height: 30px;
    width: 130px;
  }


/*-------------------------------------------------------------------------*/
li{list-style-type: none !important;}
.profileimgn{height: 250px;width: 250px;
    border-radius: 50%;
    margin-top: -150px;
}

.top{background:  linear-gradient(135deg, #23BDB8 0%, #43E794 100%);
    height: 200px;
}
.gridabout{margin-top: -60px !important;
    
}
.ulnamen{
    font-size: 22px;
    margin-left: -30px;
}


.probutton{margin-left: 40px !important;
    margin-top: 30px;
}
.aboutcounsellor{text-align: justify !important;
    margin-left: 415px !important;
    margin-top: -60px !important;
   color: #4A6F8A !important;
}
.counsellorbutton{margin-top: -90px !important;}
.detailsnormal li{display:flex !important;}

#sublist{padding: 20px 30px 0px 0px;
}
.sublistq{padding: 10px !important;
    margin-left: 30px !important;
}
.guide{font-size: 0.7em;}
.iconimgn{min-height: 10px !important;min-width: 10px !important;}
#iconimg{height: 40px !important;padding-right: 10px !important;}

.email ul li{
    display: inline-grid;
    padding-right: 30px;
}
.email p2{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #0e314c !important;
}
.email{
text-align: left;
margin-left: 20px;
margin-top: 10px
}
.ulnamen{color:  #0e314c !important;}


/*------------------------responsive 1024------------------------------*/
@media only screen and (max-width: 1025px)and (min-width:770px) {

    .profileimgn{margin-left: 20px;}
    .ulnamen{
        margin-left: 0px;
    }

    .aboutcounsellor{text-align: justify !important;
        margin-left: 310px !important;
        margin-top: 0px !important;
    }
   
    .sublistq{padding: 5px !important;
        margin-left: 15px !important;
    }
    .probutton{margin-left: 10px !important;
    margin-top: -20px !important;}
    #nxt{margin-top: 20px !important;}
}
/*------------------------responsive 768------------------------------*/
@media only screen and (max-width: 769px)and (min-width:427px) {

    .ulnamen{
        margin-left: -20px;
    }
  
    .aboutcounsellor{
        margin-left: 45px !important;
    }
    .probutton{margin-top: 100px !important;
    margin-bottom: 20px;
    }
    .degree{margin-left: 40px !important;
    margin-top: 20px !important;
    }
    .aboutcounsellor{margin-top: 30px !important;}
    .email{margin-left: 10px !important ;}
  
        .email ul li{padding: 5px !important;}
        
}
/*------------------------responsive 425------------------------------*/
@media only screen and (max-width: 426px)and (min-width:377px) {

    .ulnamen{
        margin-left: -20px;
    }
 
    .aboutcounsellor{margin-top: 30px !important;
        margin-left: 32px !important;
    }
    .probutton{margin-top: 100px !important;
    margin-bottom: 20px;
    }
    .degree{margin-left: 100px !important;}
}
/*------------------------responsive 375------------------------------*/
@media only screen and (max-width: 376px)and (min-width:322px) {

    .ulnamen{
        margin-left: -20px;
    }

    .aboutcounsellor{margin-top: 0px !important;
        margin-left: 29px !important;
    }
    .probutton{margin-top: 100px !important;
    margin-bottom: 20px;
    }
    .email{margin-left: 0px !important ;}
}

/*------------------------responsive 320------------------------------*/
@media only screen and (max-width: 321px)and (min-width:30px) {
    .profileimgn{margin-left: 15px;}
    .ulnamen{
        margin-left: -20px;
    }

    .aboutcounsellor{margin-top: 0px !important;
        margin-left: 32px !important;
    }
    .probutton{margin-top: 100px !important;
    margin-bottom: 20px;
    }
    .email{margin-left: 30px !important ;}
}




