@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
   
}
/*----------------------------button------------------------------*/

  button.probutton::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #43E794, transparent);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
  }
  
  .probutton {
      position: relative;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background: #23BDB8;
      padding: em   ;
      border: none;
      color: white;
      font-size: 1em;
      cursor: pointer;
      outline: none;
      overflow: hidden;
      border-radius: 100px;
      height: 30px;
      width: 130px;
    }
    .probutton span {
      position: relative;
      pointer-events: none;
    }
  
    .probutton:hover::before {
      --size: 400px;
    }
    button.probutton:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
      letter-spacing: 3px;
      }
  
  
  

/*-------------------------------------------------------------------------*/
li{list-style-type: none !important;}
.profileimgn{height: 250px;width: 250px;
    border-radius: 50%;
    margin-top: -150px;
}

.top{background:   linear-gradient(to right, #23BDB8, #8ee7ba);
    height: 280px;
}
.gridabout{margin-top: -60px !important;
    
}
.ulnamen{
    font-size: 22px;
    margin-left: -30px;
}


.probutton{margin-left: 40px !important;
    margin-top: 30px;
}
.aboutcounsellor{text-align: justify !important;
   /* margin-left: 415px !important;*/
    margin-top: -60px !important;
   color: #4A6F8A !important;
   font-family: 'Poppins', sans-serif !important;

}
.counsellorbutton{margin-top: -90px !important;margin-bottom: 80px !important;}


#sublist{padding: 20px 30px 0px 0px;
}
.sublistq{padding: 10px !important;
    margin-left: 30px !important;
}
.guide{font-size: 0.7em;}
.iconimgn{min-height: 10px !important;min-width: 10px !important;}
#iconimg{height: 40px !important;padding-right: 10px !important;}

.viewsha li{color: #4A6F8A;
    display: inline-grid !important;
    padding-right: 20px !important;
}
.viewsha p2{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #0e314c !important;
}
.viewsha{
text-align: left;
margin-left: 20px;
margin-top: 10px
}
.ulnamen{color:  #0e314c !important;}


/*------------------------responsive 1024------------------------------*/
@media only screen and (max-width: 1025px)and (min-width:770px) {
    .top{height: 320px !important;}
    .profileimgn{margin-left: 20px;}
    .ulnamen{
        margin-left: 0px;
    }

    .aboutcounsellor{text-align: justify !important;
        /*margin-left: 310px !important;*/
        margin-top: 0px !important;
    }
   
    .sublistq{padding: 5px !important;
        margin-left: 15px !important;
    }
    .probutton{margin-left: 10px !important;
    margin-top: -80px !important;}
    #nxt{margin-top: 20px !important;}
}
/*------------------------responsive 768------------------------------*/
@media only screen and (max-width: 769px)and (min-width:427px) {

    .ulnamen{
        margin-left: -20px;
    }
  /*
    .aboutcounsellor{
        margin-left: 45px !important;
    }*/
    .probutton{margin-top: 100px !important;
    margin-bottom: 20px;
    }
    .degree{margin-left: 40px !important;
    margin-top: 20px !important;
    }
    .aboutcounsellor{margin-top: 30px !important;}
    .viewsha{margin-left: 10px !important ;}
  
    .viewsha li{padding: 5px !important;}
        
}
/*------------------------responsive 425------------------------------*/
@media only screen and (max-width: 426px)and (min-width:377px) {

    .ulnamen{
        margin-left: -20px;
    }
 
    .aboutcounsellor{margin-top: 5px !important;
     /*   margin-left: 32px !important;*/
    }
    .probutton{margin-top: 100px !important;
    margin-bottom: 20px;
    }
}
/*------------------------responsive 375------------------------------*/
@media only screen and (max-width: 376px)and (min-width:322px) {

    .ulnamen{
        margin-left: -20px;
    }

    .aboutcounsellor{margin-top: 0px !important;
      /*  margin-left: 29px !important;*/
    }
    .probutton{margin-top: 100px !important;
    margin-bottom: 20px;
    }
    .viewsha{margin-left: 0px !important ;}
}

/*------------------------responsive 320------------------------------*/
@media only screen and (max-width: 321px)and(min-width:282){
   
    .ulnamen{
        margin-left: -20px;
    }

    .aboutcounsellor{margin-top: 0px !important;
        /*margin-left: 23px !important;*/
    }
    .probutton{margin-top: 100px !important;
    margin-bottom: 20px !important;
    }
    .viewsha{margin-left: 30px !important ;}
}

/*------------------------responsive 1920------------------------------*/
@media only screen and (max-width: 1921px)and (min-width:1602px){
  
    .aboutcounsellor{
      font-size: 1.4em ;
    
    }  
    .viewsha{font-size: 1.3em ;
    }
    .ulnamen{font-size: 2em !important;}
    .viewsha p2{font-size: 1em !important;}
    .top{
        height: 350px !important;
    }
    .probutton{
        margin-bottom: 60px !important;
        }
}

/*------------------------responsive 1600------------------------------*/
@media only screen and (max-width: 1601px)and (min-width:1442px){
  

}
/*------------------------responsive 889------------------------------*/
@media only screen and (max-width: 890px)and (min-width:673px){
    .probutton{
        margin-top: 100px !important;
        } 

}
