@media screen and (max-width: 2000px){
input{
    display: none;
}
.headerportion{
    background:  linear-gradient(135deg, #23BDB8 0%, #43E794 100%);
    height: 200px;
}
.inputs{
    width: 400px;
}
.profileimage img{
    transform: translate(55px,60px);
}
.userdetail{
    margin-top: 60px;
}
.addition{
    transform: translate(35px,-60px)!important;
}
.userdetail h2{
    text-align: left;
}
.userdetail h3{
    font-size: 26px;
    font-weight: 650;
    color: #4A6F8A;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: -97px; 
}

.userdetail h2{
    font-size: 35px;
    font-weight: 650;
    color: #4A6F8A;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: -95px;
}
.email ul li{
    display: inline-grid;
    padding-right: 40px;

}
.email p2{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #4A6F8A;

}

.email{
text-align: left;
margin-left: -32px;
margin-top: 40px
}

.localphone{
    margin-left: -27px;
}

.about h2{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #4A6F8A;
}

.about{
    margin-top: 64px;
    text-align: justify;

}
.about p3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 34px;
    color: #4A6F8A;
}
}
@media screen and (max-width:1025px){
    .profileimage img{
        transform: translate(30px,60px);
        width: 25%!important;
    }
    .addition{
        transform: translate(65px,-105px)!important;
    }
    .userdetail h2{
        font-size: 26px;
        margin-left: -10px;
    }
    .userdetail h3{
        font-size: 20px;
        margin-left: -10px;
    }
    .userdetail{
        margin-top: 70px;
    }
    .email ul li{
        padding-right: 11px;
    }
    .email{
        margin-left: -50px;
    }

}
@media screen and (max-width:769px){
    
    .addition{
        transform: translate(75px,-105px);
    }
    .email ul li{
        display: block;
        padding-bottom: 25px;
    }
    .userdetail{
        margin-top: 3px;
    }
    .about{
        margin-top: 2px;
    }
    .about p3{
        word-break: break-all;
    }
}
@media screen and (max-width:426px){
    .profileimage img{
        transform: translate(88px,60px);
        width: 55%!important;
    }
    .userdetail{
        margin-top: 30px;
    }
    .email{
        margin-left: 10px;
    }
    .about{
        margin: 40px;
    }
    .addition{
        transform: translate(62px,-95px)!important;
    }
}
@media screen and (max-width:376px){
    .profileimage img{
        transform: translate(80px,60px);
    }
    .addition{
        transform: translate(42px,-105px)!important;
    }
}
@media screen and (max-width:321px){
    .profileimage img{
        transform: translate(55px,60px);
        width: 65%!important;
    }
    .addition{
        transform: translate(47px,-105px)!important;
    }
}