.pristepSection{
    margin-top: 80px;
    padding-bottom: 80px;
}
.prihowIt{
    font-size: 35px;
    font-weight: 650px;
    color: #4a6f8a; 
    /* border-bottom: 2px solid #23BDB8;
    width: 220px;  
    margin-left: 600px; */
}
span.priicon1{
    color: #23BDB8; 
} 
.prihow{
    margin-top: 50px;
    color: #4a6f8a;
}
.pristep1{
    padding-left: 50px;
}
h1.prifirstHead{
    color: #4a6f8a;
    margin-top: -10px;
    font-size: 22px;
}
h5.prifirstSubhead{
    color: #4a6f8a;  
    
}
p.prifirstPara{
    max-width: 280px;
    text-align: left;
    padding-left: 15px;
    text-align: justify;
    word-break: break-all;
   
}
span.priicon2{
    color: #23BDB8;
    margin-top: 100px;
   
}
.pristep2{
    padding-left: 20px;
}
h1.prifirstHead2{
    color: #4a6f8a;
    margin-top: -10px;
    width: 300px;
    margin-left: -15px;
    font-size: 22px;
}
h5.prifirstSubhead2{
    color: #4a6f8a; 
}
p.prifirstPara2{
    max-width: 280px;
    text-align: left;
    padding-left: 0px; 
    text-align: justify;
    word-break: break-all;
}
span.priicon2{
    color: #23BDB8;
    margin-top: 100px;
   
}
.pristep3{
    padding-left: 20px;
}
h1.prifirstHead3{
    color: #4a6f8a;
    margin-top: -10px;
    font-size: 22px;
}
h5.prifirstSubhead3{
    color: #4a6f8a; 
}
p.prifirstPara3{
    max-width: 280px;
    text-align: left;
    padding-left: 30px; 
    text-align: justify;
    word-break: break-all;
}
span.priicon3{
    color: #23BDB8;
    margin-top: 100px;
    margin-left: 10px;
}
.pristep4{
    padding-left: 0px;
}
h1.prifirstHead4{
    color: #4a6f8a;
    margin-top: -10px;
    font-size: 22px;
}
h5.prifirstSubhead4{
    color: #4a6f8a; 
}
p.prifirstPara4{
    max-width: 280px;
    text-align: left;
    padding-left: 50px;
    text-align: justify;
    word-break: break-all;
}
span.priicon4{
    color: #23BDB8;
    margin-top: 100px;
   margin-left: 10px;
}
@media only screen and (max-width:1280px){
   
    p.prifirstPara4{
        max-width: 250px; 
    }
 
}

@media only screen and (max-width:1024px){
   
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 30px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 200px;
        text-align: left;
        padding-left: 15px;
        text-align: justify;
        word-break: break-all;
       
    }
    span.priicon2{
        color: #23BDB8;
        margin-top: 100px;
       
    }
    .pristep2{
        padding-left: 20px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 200px;
        margin-left:0px;
        font-size: 26px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 200px;
        text-align: left;
        padding-left: 0px; 
        text-align: justify;
        word-break: break-all;
    }
    span.priicon2{
        color: #23BDB8;
        margin-top: 100px;
       
    }
    .pristep3{
        padding-left: 20px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
        width: 150px;
        margin-left: 25px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 200px;
        text-align: left;
        padding-left: 20px; 
        text-align: justify;
        word-break: break-all;
    }
    span.priicon3{
        color: #23BDB8;
        margin-top: 100px;
        margin-left: 10px;
    }
    .pristep4{
        padding-left: 0px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
        width: 150px;
        margin-left: 30px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 200px;
        text-align: left;
        padding-left: 20px;
        text-align: justify;
        word-break: break-all; 
    }
    span.priicon4{
        color: #23BDB8;
        margin-top: 100px;
       margin-left: 10px;
    }
}
/* @media only screen and (min-width:820px){
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 30px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 22px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 120px;
        text-align: left;
        padding-left: 15px;
        text-align: justify;
        word-break: break-all;
       
    }
    span.priicon2{
        color: #23BDB8;
        margin-top: 100px;
       
    }
    .pristep2{
        padding-left: 0px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 200px;
        margin-left:-15px;
        font-size: 22px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 170px;
        text-align: left;
        padding-left:10px; 
        text-align: justify;
        word-break: break-all;
    }
    span.priicon2{
        color: #23BDB8;
        margin-top: 100px;
       
    }
    .pristep3{
        padding-left: 20px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 22px;
        width: 150px;
        margin-left:0px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 200px;
        text-align: left;
        padding-left: 10px; 
        text-align: justify;
        word-break: break-all;
    }
    span.priicon3{
        color: #23BDB8;
        margin-top: 100px;
        margin-left: 0px;
    }
    .pristep4{
        padding-left: 0px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: 10px;
        font-size: 22px;
        width: 150px;
        margin-left: 10px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 150px;
        text-align: left;
        padding-left: 30px;
        text-align: justify;
        word-break: break-all; 
    }
    span.priicon4{
        color: #23BDB8;
        margin-top: 100px;
       margin-left: 0px;
    }
} */
@media only screen and (max-width:912px){
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 30px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 22px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 120px;
        text-align: left;
        padding-left: 25px;
        text-align: justify;
        word-break: break-all;
       
    }
    span.priicon2{
        color: #23BDB8;
        margin-top: 100px;
       
    }
    .pristep2{
        padding-left: 0px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 200px;
        margin-left:-15px;
        font-size: 22px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 170px;
        text-align: left;
        padding-left:10px; 
        text-align: justify;
        word-break: break-all;
    }
    span.priicon2{
        color: #23BDB8;
        margin-top: 100px;
       
    }
    .pristep3{
        padding-left: 20px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 22px;
        width: 150px;
        margin-left:0px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 200px;
        text-align: left;
        padding-left: 10px; 
        text-align: justify;
        word-break: break-all;
    }
    span.priicon3{
        color: #23BDB8;
        margin-top: 100px;
        margin-left: 0px;
    }
    .pristep4{
        padding-left: 0px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: 10px;
        font-size: 22px;
        width: 150px;
        margin-left: 10px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 150px;
        text-align: left;
        padding-left: 30px;
        text-align: justify;
        word-break: break-all; 
    }
    span.priicon4{
        color: #23BDB8;
        margin-top: 100px;
       margin-left: 0px;
    }
}
@media only screen and (max-width:820px){
   
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 30px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 22px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 120px;
        text-align: left;
        padding-left: 15px;
        text-align: justify;
        word-break: break-all;
       
    }
    span.priicon2{
        color: #23BDB8;
        margin-top: 100px;
       
    }
    .pristep2{
        padding-left: 0px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 200px;
        margin-left:-15px;
        font-size: 22px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 170px;
        text-align: left;
        padding-left:10px; 
        text-align: justify;
        word-break: break-all;
    }
    span.priicon2{
        color: #23BDB8;
        margin-top: 100px;
       
    }
    .pristep3{
        padding-left: 20px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 22px;
        width: 150px;
        margin-left:0px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 200px;
        text-align: left;
        padding-left: 10px; 
        text-align: justify;
        word-break: break-all;
    }
    span.priicon3{
        color: #23BDB8;
        margin-top: 100px;
        margin-left: 0px;
    }
    .pristep4{
        padding-left: 0px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: 10px;
        font-size: 22px;
        width: 150px;
        margin-left: 20px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 150px;
        text-align: left;
        padding-left: 30px;
        text-align: justify;
        word-break: break-all; 
    }
    span.priicon4{
        color: #23BDB8;
        margin-top: 100px;
       margin-left: 0px;
    }
}
@media only screen and (max-width:768px){
   
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 30px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 22px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 120px;
        text-align: left;
        padding-left: 15px;
        text-align: justify;
        word-break: break-all;
       
    }
    span.priicon2{
        color: #23BDB8;
        margin-top: 100px;
       
    }
    .pristep2{
        padding-left: 0px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 200px;
        margin-left:-15px;
        font-size: 22px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 170px;
        text-align: left;
        padding-left:10px; 
        text-align: justify;
        word-break: break-all;
    }
    span.priicon2{
        color: #23BDB8;
        margin-top: 100px;
       
    }
    .pristep3{
        padding-left: 20px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 22px;
        width: 150px;
        margin-left:0px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 200px;
        text-align: left;
        padding-left: 10px; 
        text-align: justify;
        word-break: break-all;
    }
    span.priicon3{
        color: #23BDB8;
        margin-top: 100px;
        margin-left: 0px;
    }
    .pristep4{
        padding-left: 0px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: 10px;
        font-size: 22px;
        width: 120px;
        margin-left: 20px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 150px;
        text-align: left;
        padding-left: 20px;
        text-align: justify;
        word-break: break-all; 
    }
    span.priicon4{
        color: #23BDB8;
        margin-top: 100px;
       margin-left: 0px;
    }
}
 
@media only screen and (max-width:430px){
    .priicon2,.priicon3,.priicon4{
        display: none;
    }
}
@media only screen and (min-width:431px){
    .priicon2dup,.priicon3dup,.priicon4dup{
        display: none;
    }
}
.priicon2dup,.priicon3dup,.priicon4dup{
    color: #23BDB8;
}
@media only screen and (max-width:430px){
   
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 70px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 550px;
        text-align: left;
        padding-left: 15px;
        text-align: justify;
        word-break: break-all;
       font-size: 15px;
    }
    span.priicon2dup{
        color: #23BDB8;
        margin-top: 250px; 
        margin-left: -280px ;
       
    }
    .pristep2{
        padding-left: 70px;
        padding-top: 30px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 250px;
        margin-left:15px;
        font-size: 26px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 550px;
        text-align: left;
        padding-left:10px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon3dup{
        color: #23BDB8;
        margin-top: 310px;
        margin-left: -280px;
    }
    .pristep3{
        padding-left: 70px;
        padding-top: 30px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
        width: 200px;
        margin-left:50px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 280px;
        text-align: left;
        padding-left: 10px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon4dup{
        color: #23BDB8;
        margin-top: 280px;
        margin-left: -280px;
    }
    .pristep4{
        padding-left: 70px;
        padding-top: 30px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: 10px;
        font-size: 26px;
        width: 200px;
        margin-left: 40px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 280px;
        text-align: left;
        padding-left: 5px;
        text-align: justify;
        word-break: break-all; 
        font-size: 15px;
    }
     
}
@media only screen and (max-width:395px){
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 50px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 270px;
        text-align: left;
        padding-left: 0px;
        text-align: justify;
        word-break: break-all;
       font-size: 15px;
    }
    span.priicon2dup{
        color: #23BDB8;
        margin-top: 250px; 
        margin-left: -280px;
       
    }
    .pristep2{
        padding-left: 50px;
        padding-top: 30px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 250px;
        margin-left:15px;
        font-size: 26px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 550px;
        text-align: left;
        padding-left:0px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon3dup{
        color: #23BDB8;
        margin-top: 310px;
        margin-left: -280px;
    }
    .pristep3{
        padding-left: 50px;
        padding-top: 30px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
        width: 200px;
        margin-left:50px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 280px;
        text-align: left;
        padding-left: 0px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon4dup{
        color: #23BDB8;
        margin-top: 280px;
        margin-left: -280px;
    }
    .pristep4{
        padding-left: 50px;
        padding-top: 30px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: 10px;
        font-size: 26px;
        width: 200px;
        margin-left: 40px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 280px;
        text-align: left;
        padding-left: 0px;
        text-align: justify;
        word-break: break-all; 
        font-size: 15px;
    }
}
@media only screen and (max-width:391px){
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 50px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 270px;
        text-align: left;
        padding-left: 0px;
        text-align: justify;
        word-break: break-all;
       font-size: 15px;
    }
    span.priicon2dup{
        color: #23BDB8;
        margin-top: 250px; 
        margin-left: -280px;
       
    }
    .pristep2{
        padding-left: 50px;
        padding-top: 30px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 250px;
        margin-left:15px;
        font-size: 26px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 550px;
        text-align: left;
        padding-left:0px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon3dup{
        color: #23BDB8;
        margin-top: 310px;
        margin-left: -280px;
    }
    .pristep3{
        padding-left: 50px;
        padding-top: 30px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
        width: 200px;
        margin-left:50px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 280px;
        text-align: left;
        padding-left: 0px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon4dup{
        color: #23BDB8;
        margin-top: 280px;
        margin-left: -280px;
    }
    .pristep4{
        padding-left: 50px;
        padding-top: 30px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: 10px;
        font-size: 26px;
        width: 200px;
        margin-left: 40px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 280px;
        text-align: left;
        padding-left: 0px;
        text-align: justify;
        word-break: break-all; 
        font-size: 15px;
    }
}
@media only screen and (max-width:380px){
   
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 50px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 270px;
        text-align: left;
        padding-left: 0px;
        text-align: justify;
        word-break: break-all;
       font-size: 15px;
    }
    span.priicon2dup{
        color: #23BDB8;
        margin-top: 250px; 
        margin-left: -270px;
       
    }
    .pristep2{
        padding-left: 50px;
        padding-top: 30px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 250px;
        margin-left:15px;
        font-size: 26px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 550px;
        text-align: left;
        padding-left:0px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon3dup{
        color: #23BDB8;
        margin-top: 310px;
        margin-left: -285px;
    }
    .pristep3{
        padding-left: 50px;
        padding-top: 30px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
        width: 200px;
        margin-left:50px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 280px;
        text-align: left;
        padding-left: 0px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon4dup{
        color: #23BDB8;
        margin-top: 280px;
        margin-left: -285px;
    }
    .pristep4{
        padding-left: 50px;
        padding-top: 30px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: 10px;
        font-size: 26px;
        width: 200px;
        margin-left: 40px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 280px;
        text-align: left;
        padding-left: 0px;
        text-align: justify;
        word-break: break-all; 
        font-size: 15px;
    }
     
}
@media only screen and (max-width:365px){
   
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 45px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 270px;
        text-align: left;
        padding-left: 0px;
        text-align: justify;
        word-break: break-all;
       font-size: 15px;
    }
    span.priicon2dup{
        color: #23BDB8;
        margin-top: 250px; 
        margin-left: -280px;
       
    }
    .pristep2{
        padding-left: 45px;
        padding-top: 30px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 250px;
        margin-left:15px;
        font-size: 26px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 270px;
        text-align: left;
        padding-left:0px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon3dup{
        color: #23BDB8;
        margin-top: 310px;
        margin-left: -280px;
    }
    .pristep3{
        padding-left: 45px;
        padding-top: 30px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
        width: 200px;
        margin-left:50px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 270px;
        text-align: left;
        padding-left: 0px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon4dup{
        color: #23BDB8;
        margin-top: 280px;
        margin-left: -280px;
    }
    .pristep4{
        padding-left: 45px;
        padding-top: 30px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: 10px;
        font-size: 26px;
        width: 200px;
        margin-left: 40px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 270px;
        text-align: left;
        padding-left: 0px;
        text-align: justify;
        word-break: break-all; 
        font-size: 15px;
    }
     
}
@media only screen and (max-width:320px){
   
    .prihow{
        margin-top: 60px; 
    }
    .pristep1{
        padding-left: 25px;
    }
    h1.prifirstHead{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
    }
    h5.prifirstSubhead{
        color: #4a6f8a; 
        
    }
    p.prifirstPara{
        width: 270px;
        text-align: left;
        padding-left: 0px;
        text-align: justify;
        word-break: break-all;
       font-size: 15px;
    }
    span.priicon2dup{
        color: #23BDB8;
        margin-top: 250px; 
        margin-left: -280px;
       
    }
    .pristep2{
        padding-left: 25px;
        padding-top: 30px;
    }
    h1.prifirstHead2{
        color: #4a6f8a;
        margin-top: -10px;
        width: 250px;
        margin-left:15px;
        font-size: 26px;
    }
    h5.prifirstSubhead2{
        color: #4a6f8a; 
    }
    p.prifirstPara2{
        width: 270px;
        text-align: left;
        padding-left:0px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon3dup{
        color: #23BDB8;
        margin-top: 310px;
        margin-left: -280px;
    }
    .pristep3{
        padding-left: 25px;
        padding-top: 30px;
    }
    h1.prifirstHead3{
        color: #4a6f8a;
        margin-top: -10px;
        font-size: 26px;
        width: 200px;
        margin-left:50px;
    }
    h5.prifirstSubhead3{
        color: #4a6f8a; 
    }
    p.prifirstPara3{
        max-width: 270px;
        text-align: left;
        padding-left: 0px; 
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
    }
    span.priicon4dup{
        color: #23BDB8;
        margin-top: 280px;
        margin-left: -280px;
    }
    .pristep4{
        padding-left: 25px;
        padding-top: 30px;
    }
    h1.prifirstHead4{
        color: #4a6f8a;
        margin-top: 10px;
        font-size: 26px;
        width: 200px;
        margin-left: 40px;
    }
    h5.prifirstSubhead4{
        color: #4a6f8a; 
    }
    p.prifirstPara4{
        max-width: 270px;
        text-align: left;
        padding-left: 0px;
        text-align: justify;
        word-break: break-all; 
        font-size: 15px;
    }
     
}

 
 
 

 